<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <form (ngSubmit)="onSubmit()" [formGroup]="forma">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <label
                                    for="nositeljOsiguranja"
                                    style="font-family: Verdana, sans-serif;">Nositelj osiguranja</label><br>
                                <label>
                                    <input
                                        type="radio"
                                        value="nositelj"
                                        formControlName="nositeljOsiguranja">Nositelj osiguranja
                                    <ng-container style="left:10px;position: relative;">
                                        <input
                                            type="radio"
                                            value="clan"
                                            formControlName="nositeljOsiguranja">Član obitelji
                                    </ng-container>
                                    <mat-error
                                        *ngIf="(nositeljOsiguranja.touched || nositeljOsiguranja.dirty) && nositeljOsiguranja.invalid">
                                        Nositelj osiguranja je obvezan za unos!
                                    </mat-error>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="drzavaOsiguranja"
                                    style="font-family: Verdana, sans-serif;">Država osiguranja</label>
                                <select
                                    type="text"
                                    class="form-control"
                                    formControlName="drzavaOsiguranja"
                                    style="width:250px;height:35px;">
                                    <option [disabled]="true" [ngValue]="null">Odaberite državu osiguranja</option>
                                    <option *ngFor="let drzava of drzave" value="{{drzava.nazivDrzave}}">{{drzava.nazivDrzave}}</option>
                                </select>
                                <mat-error *ngIf="(drzavaOsiguranja.touched || drzavaOsiguranja.dirty) && !drzavaOsiguranja.valid">
                                    <mat-error *ngIf="drzavaOsiguranja.errors['required']">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="drzavaOsiguranja.errors['drzaveIsForbidden'] && !drzavaOsiguranja.errors['required']">Ova vrijednost nije dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                            <td>
                                <label
                                    for="kategorijaOsiguranja"
                                    style="font-family: Verdana, sans-serif;">Kategorija osiguranja</label>
                                <select
                                    type="text"
                                    class="form-control"
                                    formControlName="kategorijaOsiguranja"
                                    style="width:250px;height:35px;">
                                    <option [disabled]="true" [ngValue]="null">Odaberite kategoriju osiguranja</option>
                                    <option *ngFor="let kategorija of katOsiguranja" value="{{kategorija.oznakaOsiguranika}}">{{kategorija.oznakaOsiguranika}}</option>
                                </select>
                                <mat-error *ngIf="(kategorijaOsiguranja.touched || kategorijaOsiguranja.dirty) && !kategorijaOsiguranja.valid">
                                    <mat-error *ngIf="kategorijaOsiguranja.errors['required']">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="kategorijaOsiguranja.errors['oznakaIsForbidden'] && !kategorijaOsiguranja.errors['required']">Ova vrijednost nije dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="podrucniUred"
                                    style="font-family: Verdana, sans-serif;">Područni ured</label>
                                <select
                                    type="text"
                                    class="form-control"
                                    formControlName="podrucniUred"
                                    style="width:250px;height:35px;">
                                    <option [disabled]="true" [ngValue]="null">Odaberite područni ured</option>
                                    <option *ngFor="let ured of podrucniUredi" value="{{ured.nazivSluzbe}}">{{ured.nazivSluzbe}}</option>
                                </select>
                                <input
                                    type="text"
                                    formControlName="sifUred"
                                    class="form-control"
                                    style="width:50px;margin-left:255px;margin-top:-35px;">
                                <mat-error *ngIf="(podrucniUred.touched || podrucniUred.dirty) && !podrucniUred.valid">
                                    <mat-error *ngIf="podrucniUred.errors['required']">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="podrucniUred.errors['uredIsForbidden'] && !podrucniUred.errors['required']">Ova vrijednost nije dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="mbo"
                                    style="font-family: Verdana, sans-serif;">Matični broj pacijenta</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="mbo"
                                    style="width:270px;"
                                    placeholder="Unesite matični broj pacijenta...">
                                <mat-error *ngIf="(mbo.touched || mbo.dirty) && !mbo.valid">
                                    <mat-error *ngIf="mbo.errors['pattern']">Morate unijeti ispravan format MBO-a!</mat-error>
                                    <mat-error *ngIf="mbo.errors['required']">Ovo polje je obavezno za unos!</mat-error>
                                </mat-error>
                            </td>
                            <td>
                                <div style="margin-top:30px;">
                                    <input
                                        type="checkbox"
                                        formControlName="trajnoOsnovno"
                                        value="trajnoOsnovno"
                                        style="margin-top:5px;"
                                        (change)="onChecked($event)">
                                    <label
                                        for="trajnoOsnovno"
                                        style="margin-left:5px;font-family: Verdana, sans-serif;">Trajno osnovno osiguranje</label>
                                    <mat-error *ngIf="(trajnoOsnovno.touched || trajnoOsnovno.dirty) && !trajnoOsnovno.valid">
                                        <mat-error *ngIf="trajnoOsnovno.errors?.required">Ovo polje je obavezno za unos!</mat-error>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="forma.hasError('baremJedanOsnovno')"
                                        style="display:block;">Morate unijeti ili trajno osiguranje ili datume osnovnog osiguranja!</mat-error>
                                    <mat-error *ngIf="forma.errors?.bothForbiddenOsnovno">Trajno osiguranje ILI datumi osiguranja!</mat-error>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr formGroupName="datumiOsnovno">
                            <td>
                                <label
                                    for="osnovnoOd"
                                    style="font-family: Verdana, sans-serif;">Osnovno osiguranje od</label>
                                <input
                                    type="date"
                                    class="form-control"
                                    formControlName="osnovnoOd"
                                    style="width:250px;">
                                <mat-error *ngIf="(osnovnoOd.touched || osnovnoOd.dirty) && !osnovnoOd.valid">
                                    <mat-error *ngIf="osnovnoOd.errors?.required">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="osnovnoOd.errors?.pattern">Morate unijeti ispravan format datuma!</mat-error>
                                </mat-error>
                                <mat-error *ngIf="datumiOsnovno.errors?.neValjaDatumOsnovno">Početni datum mora biti manji od završnog!</mat-error>
                            </td>
                            <td>
                                <label
                                    for="osnovnoDo"
                                    style="font-family: Verdana, sans-serif;">Osnovno osiguranje do</label>
                                <input
                                    type="date"
                                    class="form-control"
                                    formControlName="osnovnoDo"
                                    style="width:250px;">
                                <mat-error *ngIf="(osnovnoDo.touched || osnovnoDo.dirty) && !osnovnoDo.valid">
                                    <mat-error *ngIf="osnovnoDo.errors?.required">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="osnovnoDo.errors?.pattern">Morate unijeti ispravan format datuma!</mat-error>
                                </mat-error>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <h4 style="font-family: Verdana, sans-serif;">Dopunsko osiguranje</h4>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="brIskDopunsko"
                                    style="font-family: Verdana, sans-serif;">Broj iskaznice dopunskog osiguranja</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="brIskDopunsko"
                                    style="width:320px;"
                                    placeholder="Unesite broj iskaznice dopunskog osiguranja...">
                                <mat-error *ngIf="(brIskDopunsko.touched || brIskDopunsko.dirty) && !brIskDopunsko.valid">
                                    <mat-error *ngIf="brIskDopunsko.errors['pattern']">Morate unijeti ispravan format broja iskaznice!</mat-error>
                                </mat-error>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr formGroupName="datumiDopunsko">
                            <td>
                                <label
                                    for="dopunskoOd"
                                    style="font-family: Verdana, sans-serif;">Dopunsko osiguranje od</label>
                                <input
                                    type="date"
                                    class="form-control"
                                    formControlName="dopunskoOd"
                                    style="width:250px;">
                                <mat-error *ngIf="(dopunskoOd.touched || dopunskoOd.dirty) && !dopunskoOd.valid">
                                    <mat-error *ngIf="dopunskoOd.errors?.required">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="dopunskoOd.errors?.pattern">Morate unijeti ispravan format datuma!</mat-error>
                                </mat-error>
                                <mat-error *ngIf="datumiDopunsko.errors?.neValjaDatumDopunsko">Početni datum mora biti manji od završnog!</mat-error>
                            </td>
                            <td>
                                <label
                                    for="dopunskoDo"
                                    style="font-family: Verdana, sans-serif;">Dopunsko osiguranje do</label>
                                <input
                                    type="date"
                                    class="form-control"
                                    formControlName="dopunskoDo"
                                    style="width:250px;">
                                <mat-error *ngIf="(dopunskoDo.touched || dopunskoDo.dirty) && !dopunskoDo.valid">
                                    <mat-error *ngIf="dopunskoDo.errors?.required">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="dopunskoDo.errors?.pattern">Morate unijeti ispravan format datuma!</mat-error>
                                </mat-error>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input
                                    type="checkbox"
                                    formControlName="oslobodenParticipacije"
                                    value="oslobodenParticipacije"
                                    style="margin-top:5px;"
                                    (change)="onCheckedParticipacija($event)">
                                <label
                                    for="oslobodenParticipacije"
                                    style="margin-left:5px;font-family: Verdana, sans-serif;">Oslobođen participacije</label>
                                <mat-error *ngIf="forma.errors?.mustBeCheckedParticipacija">Oslobođen participacije mora biti upisan!</mat-error>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr formGroupName="participacija">
                           <td>
                               <label
                                    for="clanakParticipacija"
                                    style="font-family: Verdana, sans-serif;">Prema članku Zakona</label>
                               <select
                                    type="text"
                                    class="form-control"
                                    formControlName="clanakParticipacija"
                                    style="width:250px;height:35px;"
                                    (change)="onSelected($event)">
                                    <option [disabled]="true" [ngValue]="null">Odaberite članak participacije</option>
                                    <option *ngFor="let participacija of participacije" value="{{participacija.razlogParticipacija}}">{{participacija.razlogParticipacija}}</option>
                                </select>
                                <mat-error *ngIf="(clanakParticipacija.touched || clanakParticipacija.dirty) && !clanakParticipacija.valid">
                                    <mat-error *ngIf="clanakParticipacija.errors?.required">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="clanakParticipacija.errors?.participacijaIsForbidden && !clanakParticipacija.errors?.required">Morate unijeti ispravni članak!</mat-error>
                                </mat-error>
                           </td>
                           <td>
                                <div style="margin-top:30px;">
                                    <input
                                        type="checkbox"
                                        formControlName="trajnoParticipacija"
                                        value="trajnoParticipacija"
                                        style="margin-top:5px;"
                                        (change)="onCheckedTrajnaParticipacija($event)">
                                    <label
                                        for="trajnoParticipacija"
                                        style="margin-left:5px;font-family: Verdana, sans-serif;">Trajno participacija</label>
                                </div>
                                <mat-error *ngIf="(participacija.touched || participacija.dirty) && !participacija.valid">
                                    <mat-error *ngIf="participacija.errors?.bothForbidden">Samo jedan unos je dozvoljen!</mat-error>
                                </mat-error>
                                <mat-error *ngIf="forma.errors?.baremJedan">Morate unijeti ili trajnu participaciju ili datum završetka oslobođenja od participacije!</mat-error>
                           </td>
                           <td>
                                <label
                                    for="participacijaDo"
                                    style="font-family: Verdana, sans-serif;">Participacija do</label>
                                <input
                                    type="date"
                                    class="form-control"
                                    formControlName="participacijaDo"
                                    style="width:250px;">
                                <mat-error *ngIf="(participacijaDo.touched || participacijaDo.dirty) && !participacijaDo.valid">
                                    <mat-error *ngIf="participacijaDo.errors?.required">Ovo polje je obavezno za unos!</mat-error>
                                    <mat-error *ngIf="participacijaDo.errors?.pattern">Morate unijeti ispravan format datuma!</mat-error>
                                </mat-error>
                           </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    [disabled]="!forma.valid">Potvrdi zdravstvene podatke</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
