<div class="container">
    <div class="row">
        <!--Prikaziva se prozor sa tablicom pacijenata-->
        <app-pretraga-pacijent
            *ngIf="isPretraga"
            (close)="onCloseTablica()"
            (sljedeciPacijent)="onSljedeciPacijent()"
            [prijavljeniKorisnik]="prijavljeniKorisnik"></app-pretraga-pacijent>
        <div class="col-xs-12 col-md-10">
            <div class="table-responsive-sm">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <h4>{{!isAktivan ? 'Nema aktivnih pacijenata' : 'Aktivni pacijent: ' + getImePrezime()}}</h4>
                            </td>
                            <td>
                                <h4>{{isSljedeciPacijent ? 'Sljedeći pacijent: ' + sljedeciPacijent : porukaSljedeciPacijent}}</h4>
                            </td>
                            <td *ngIf="isAktivan">
                                <button
                                    type="button"
                                    class="btn btn-primary button_zavrsi"
                                    (click)="zavrsiPregled()">Završi pregled</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <p><strong>Dodaj u čekaonicu</strong></p>
            <form
                (ngSubmit)="onPretragaPacijenti()"
                [formGroup]="forma"
                class="form-inline"
                *ngIf="forma">
                <div class="form-group">
                    <input
                        type="text"
                        name="ime"
                        placeholder="Unesite ime..."
                        class="form-control input_ime"
                        formControlName="ime">
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        name="prezime"
                        placeholder="Unesite prezime..."
                        class="form-control input_prezime"
                        formControlName="prezime">
                </div>
                <div class="form-group">
                    <button
                        type="submit"
                        class="btn btn-info button_pretrazi"
                        [disabled]="!forma.valid">Pretraži</button>
                </div>
                <mat-error *ngIf="(forma.touched || forma.dirty) && !forma.valid">
                    <mat-error
                        *ngIf="forma.hasError('error')">Morate unijeti barem jedno od polja!</mat-error>
                </mat-error>
            </form>
        </div>
    </div>
    <br>
    <div
        class="row div_sredisnji"
        *ngIf="isAktivan">
        <div class="col-xs-12 col-md-12">
            <div class="table-responsive-sm">
                <table class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td class="td_image">
                                <img
                                    src="../../assets/images/proba.jpg"
                                    width="120px"
                                    height="120px"
                                    class="img-responsive">
                            </td>
                            <td class="td_podatci">
                                <h3>{{!isAktivan ? '' : getImePrezime()}}</h3>
                                <h4>{{!isAktivan ? '' :'Datum rođenja: ' + getDatRod()}}</h4>
                                <h4>{{!isAktivan ? '' :'Adresa: ' + getAdresa()}}</h4>
                                <h4>{{!isAktivan ? '' :'MBO: ' + getMBO()}}</h4>
                            </td>
                            <td class="td_ostalo">
                                <br>
                                <h4>{{isNarucen ? 'Naručen u: ' + narucenU : porukaNarucen}}</h4>
                                <h4>
                                    {{isLijecnik ? isObradenOpciPodatci ? 'Medicinska sestra je obradila pacijenta u ' + vrijemeObradeMedSestra + '!'
                                    : 'Medicinska sestra nije obradila pacijenta!'
                                    : isObradenPovijestBolesti ? 'Liječnik je obradio pacijenta u ' + vrijemeObradeLijecnik + '!'
                                    : 'Liječnik nije obradio pacijenta!'}}</h4>
                                <form [formGroup]="formaBMI" *ngIf="isMedSestra && formaBMI">
                                    <input
                                        type="text"
                                        class="form-control input_visina"
                                        placeholder="Visina (npr. 192)"
                                        formControlName="visina">
                                    <input
                                        type="text"
                                        class="form-control input_tezina"
                                        placeholder="Težina (npr. 88)"
                                        formControlName="tezina">
                                    <input
                                        type="text"
                                        class="form-control input_bmi"
                                        placeholder="BMI"
                                        formControlName="bmi">
                                    <mat-error
                                        *ngIf="tezina.value">
                                        <mat-error
                                            *ngIf="tezina.errors?.pattern">Težina mora biti cjelobrojni pozitivni broj!</mat-error>
                                        <mat-error
                                            *ngIf="!tezina.errors?.pattern
                                            && tezina.errors?.moraBitiPozitivanBroj">Težina mora biti cjelobrojni pozitivni broj!</mat-error>
                                        <mat-error
                                            *ngIf="!tezina.errors?.pattern
                                            && !tezina.errors?.moraBitiPozitivanBroj
                                            && tezina.errors?.neispravanUnos">Prevelika ili premala kilaža!</mat-error>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="visina.value">
                                        <mat-error
                                            *ngIf="visina.errors?.pattern">Visina mora biti cjelobrojni pozitivni broj!</mat-error>
                                        <mat-error
                                            *ngIf="!visina.errors?.pattern
                                            && visina.errors?.moraBitiPozitivanBroj">Visina mora biti cjelobrojni pozitivni broj!</mat-error>
                                        <mat-error
                                            *ngIf="!visina.errors?.pattern
                                            && !visina.errors?.moraBitiPozitivanBroj
                                            && visina.errors?.neispravanUnos">Premala ili prevelika visina!</mat-error>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="spremioBMI"
                                        class="spremio_bmi">{{spremioBMI}}</mat-error>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-sekundarni-header></app-sekundarni-header>
    <router-outlet></router-outlet>
</div>


