<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="col-xs-12 col-md-12">
        <form [formGroup]="forma" *ngIf="forma">
            <div class="table-responsive-sm">
                <table class="table">
                    <tbody>
                        <tr 
                            class="table-primary">
                            <td>
                                <h4  
                                    style="font-family: Verdana, sans-serif;
                                        font-weight: bold;text-align: center;">Dijagnoza</h4>
                            </td>
                        </tr>
                        <tr formGroupName="dijagnoze">
                            <td>
                                <p 
                                    style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;">Primarna dijagnoza: </p>
                                <input
                                    type="text" 
                                    formControlName="primarnaDijagnoza" 
                                    class="form-control" 
                                    readonly 
                                    style="width:100%; 
                                        font-family: Verdana, sans-serif;
                                        background-color: white; 
                                        border-color:#337ab7;">
                                <p 
                                    style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;margin-top:10px;" 
                                    *ngIf="!isSekundarne">Nema sekundarnih dijagnoza!</p>
                                <ng-container *ngIf="isSekundarne">
                                    <p 
                                        style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;margin-top:10px;">Sekundarne dijagnoze: </p>
                                    <textarea
                                        rows="3" 
                                        formControlName="sekundarneDijagnoze" 
                                        class="form-control" 
                                        readonly 
                                        style="width:100%; 
                                            font-family: Verdana, sans-serif;
                                            background-color: white; 
                                            border-color:#337ab7;resize:none"></textarea>
                                </ng-container>
                            </td>
                        </tr>
                        <tr 
                            class="table-primary">
                            <td>
                                <h4  
                                    style="font-family: Verdana, sans-serif;
                                        font-weight: bold;text-align: center;">Podatci ustanove</h4>
                            </td>
                        </tr>
                        <tr formGroupName="ustanova">
                            <td>
                                <p 
                                    style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;">Zdravstvena ustanova: </p>
                                <input
                                    rows="2" 
                                    formControlName="nazivID" 
                                    class="form-control" 
                                    readonly 
                                    style="width:100%; 
                                        font-family: Verdana, sans-serif;
                                        background-color: white; 
                                        border-color:#337ab7;">
                                <p 
                                    style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;margin-top:5px;">Adresa: </p>
                                <input
                                    type="text" 
                                    formControlName="adresaPbr" 
                                    class="form-control" 
                                    readonly 
                                    style="width:100%; 
                                        font-family: Verdana, sans-serif;border-color:#337ab7;
                                        background-color: white; ">
                            </td>
                        </tr>
                        <tr 
                            class="table-primary">
                            <td>
                                <h4  
                                    style="font-family: Verdana, sans-serif;
                                        font-weight: bold;text-align: center;">Podatci specijalista</h4>
                            </td>
                        </tr>
                        <tr formGroupName="specijalist">
                            <td>
                                <p 
                                    style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;">Datum slanja nalaza: </p>
                                <input
                                    type="text" 
                                    formControlName="datumNalaz" 
                                    class="form-control" 
                                    readonly 
                                    style="width:100%; 
                                        font-family: Verdana, sans-serif;
                                        background-color: white; 
                                        border-color:#337ab7;">
                                <p 
                                    style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;margin-top:5px;">Specijalist: </p>
                                <input
                                    type="text" 
                                    formControlName="imePrezime" 
                                    class="form-control" 
                                    readonly 
                                    style="width:100%; 
                                        font-family: Verdana, sans-serif;
                                        background-color: white; 
                                        border-color:#337ab7;margin-top:5px;">
                                <p 
                                    style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;margin-top:5px;">Zdravstvena djelatnost: </p>
                                <input
                                    type="text" 
                                    formControlName="zdravstvenaDjelatnost" 
                                    class="form-control" 
                                    readonly 
                                    style="width:100%; 
                                        font-family: Verdana, sans-serif;
                                        background-color: white; 
                                        border-color:#337ab7;margin-top:5px;">
                                <p 
                                    style="font-family: Verdana, sans-serif; 
                                        color:#337ab7;font-weight: bold;margin-top:5px;">Mišljenje specijalista: </p>
                                <textarea 
                                    readonly
                                    rows="3" 
                                    formControlName="misljenje" 
                                    class="form-control" 
                                    style="width:100%; 
                                        font-family: Verdana, sans-serif;
                                        background-color: white; border-color:#337ab7;
                                        resize:none;margin-top:5px;"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="alert-box-actions">
        <button class="btn btn-primary" (click)="onClose()">Izađi</button>
    </div>
</div>