<router-outlet></router-outlet>
<app-prikazi-povijest-bolesti
    *ngIf="isPovijestBolesti"
    (closeRecept)="onClosePovijestBolesti()"
    [primljeneDijagnoze]="dijagnoze"
    [idPacijent]="idPacijent"
    [oznaka]="oznaka"></app-prikazi-povijest-bolesti>
<h3>Tablica pacijenata</h3>
<form
    [formGroup]="formaPretraga"
    *ngIf="formaPretraga">
    <div class="col-md-offset-1">
        <p><strong>Pretraži:</strong></p>
        <input
            type="text"
            class="form-control"
            formControlName="pretraga"
            placeholder="Unesite pacijenta...">
        <span
            class="help-block"
            *ngIf="!isPretraga && porukaPretraga">{{porukaPretraga}}</span>
    </div>
</form>
<div
    class="row div_nema_pacijenata"
    *ngIf="!isPacijenti && nemaPacijenata">
    <h3 class="h3_nema_pacijenata">{{nemaPacijenata}}</h3>
</div>
<div
    class="table-responsive-sm div_tablica"
    *ngIf="isPretraga && isPacijenti && !nemaPacijenata">
    <table class="table table-striped table-bordered tablicaPretraga">
        <thead>
            <th scope="col" class="th_ime">Ime</th>
            <th scope="col" class="th_prezime">Prezime</th>
            <th scope="col" class="th_datum">Datum rođenja</th>
            <th scope="col" class="th_mbo">MBO</th>
            <th scope="col" class="th_akcija">Akcija</th>
        </thead>
        <tbody>
            <tr *ngFor="let pacijent of pacijenti">
                <td>{{pacijent.ime}}</td>
                <td>{{pacijent.prezime}}</td>
                <td>{{pacijent.datRod}}</td>
                <td>{{pacijent.mbo}}</td>
                <td>
                    <button
                        type="button"
                        (click)="izdajRecept(pacijent.id)"
                        class="btn btn-primary">Izdaj recept</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
