<div class="row">
    <div class="col-xs-12">
        <app-izdani-recepti
            (close)="onCloseIzdaniRecepti()"
            *ngIf="isIzdaniRecepti"
            [recept]="poslaniRecept"
            [oznaka]="'pregledi-detail'"></app-izdani-recepti>
        <app-izdane-uputnice
            (close)="onCloseIzdaneUputnice()"
            *ngIf="isIzdaneUputnice"
            [uputnica]="poslanaUputnica"
            [oznaka]="'pregledi-detail'"></app-izdane-uputnice>
        <form
            [formGroup]="forma"
            *ngIf="forma">
            <div class="table-responsive-sm">
                <table class="table table-bordered">
                    <tbody>
                        <ng-container *ngIf="!isPovijestBolesti">
                            <tr>
                                <td>
                                    <h5>Način plaćanja: </h5>
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="nacinPlacanja"
                                        readonly>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Kategorija osiguranja: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="kategorijaOsiguranja"
                                        readonly></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Naziv države: </h5>
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="drzavaOsiguranja"
                                        readonly>
                                </td>
                            </tr>
                            <tr *ngIf="pregled.primarnaDijagnoza">
                                <td>
                                    <h5>Primarna dijagnoza: </h5>
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="primarnaDijagnoza"
                                        readonly>
                                </td>
                            </tr>
                            <tr *ngIf="!pregled.primarnaDijagnoza">
                                <td>
                                    <h5>Nema evidentiranih primarnih dijagnoza!</h5>
                                </td>
                            </tr>
                            <tr>
                                <td *ngIf="isSekundarna">
                                    <h5>Sekundarne dijagnoze: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="sekundarneDijagnoze"
                                        readonly></textarea>
                                </td>
                                <td *ngIf="!isSekundarna">
                                    <h5>Nema evidentiranih sekundarnih dijagnoza!</h5>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="isPovijestBolesti">
                            <tr>
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-warning btn-sm"
                                        [ngStyle]="{'margin-top': !poslanaUputnica.molimTraziSe ? '-4px' : '0px'}"
                                        (click)="onIzdaniRecepti()"
                                        *ngIf="poslaniRecept.proizvod">Izdani recept</button>
                                    <button
                                        type="button"
                                        class="btn btn-success btn-sm button_recept"
                                        [ngStyle]="{'margin-top': !poslaniRecept.proizvod ? '-4px' : '0px'}"
                                        (click)="onIzdaneUputnice()"
                                        *ngIf="poslanaUputnica.molimTraziSe">Izdana uputnica</button>
                                    <p
                                        *ngIf="!poslaniRecept.proizvod"
                                        [ngStyle]="{'margin-right': poslanaUputnica.molimTraziSe ? '5px' : '0px'}">&nbsp;Recept nije izdan!</p>
                                    <p
                                        *ngIf="!poslanaUputnica.molimTraziSe"
                                        [ngStyle]="{'margin-right': poslaniRecept.proizvod ? '5px' : '0px'}">Uputnica nije izdana! <strong
                                                                                                                                      *ngIf="!poslanaUputnica.molimTraziSe &&
                                                                                                                                            !poslaniRecept.proizvod">|</strong></p>
                                    <h5>Razlog dolaska: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="razlogDolaska"
                                        readonly></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Anamneza: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="anamneza"
                                        readonly></textarea>
                                </td>
                            </tr>
                            <tr *ngIf="povijestBolesti.statusPacijent">
                                <td>
                                    <h5>Status pacijenta: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="statusPacijent"
                                        readonly></textarea>
                                </td>
                            </tr>
                            <tr *ngIf="!povijestBolesti.statusPacijent">
                                <td>
                                    <h5>Status pacijenta nije evidentiran!</h5>
                                </td>
                            </tr>
                            <tr *ngIf="povijestBolesti.nalaz">
                                <td>
                                    <h5>Nalaz: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="nalaz"
                                        readonly></textarea>
                                </td>
                            </tr>
                            <tr *ngIf="!povijestBolesti.nalaz">
                                <td>
                                    <h5>Nalaz nije evidentiran!</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Primarna dijagnoza: </h5>
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="primarnaDijagnoza"
                                        readonly>
                                </td>
                            </tr>
                            <tr>
                                <td *ngIf="isSekundarna">
                                    <h5>Sekundarne dijagnoze: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="sekundarneDijagnoze"
                                        readonly></textarea>
                                </td>
                                <td *ngIf="!isSekundarna">
                                    <h5>Nema evidentiranih sekundarnih dijagnoza!</h5>
                                </td>
                            </tr>
                            <tr *ngIf="povijestBolesti.terapija">
                                <td>
                                    <h5>Terapija: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="terapija"
                                        readonly></textarea>
                                </td>
                            </tr>
                            <tr *ngIf="!povijestBolesti.terapija">
                                <td>
                                    <h5>Terapija nije evidentirana!</h5>
                                </td>
                            </tr>
                            <tr *ngIf="povijestBolesti.preporukaLijecnik">
                                <td>
                                    <h5>Preporuka liječnika: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="preporukaLijecnik"
                                        readonly></textarea>
                                </td>
                            </tr>
                            <tr *ngIf="!povijestBolesti.preporukaLijecnik">
                                <td>
                                    <h5>Preporuka liječnika nije evidentirana!</h5>
                                </td>
                            </tr>
                            <tr *ngIf="povijestBolesti.napomena">
                                <td>
                                    <h5>Napomena: </h5>
                                    <textarea
                                        rows="3"
                                        class="form-control"
                                        formControlName="napomena"
                                        readonly></textarea>
                                </td>
                            </tr>
                            <tr *ngIf="!povijestBolesti.napomena">
                                <td>
                                    <h5>Napomena nije evidentirana!</h5>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
