<router-outlet></router-outlet>
<div class="row">
    <div class="col-xs-12">
      <h4
          *ngIf="!isAktivan">Pacijent nije aktivan u obradi!</h4>
        <form [formGroup]="forma" *ngIf="forma && isAktivan">
            <div class="col-xs-4">
                <label
                    for="filter">Filtriraj prema:</label>
                <select
                    formControlName="filter"
                    class="form-control"
                    (change)="onChangeFilter($event)">
                    <option value="datum">Datum</option>
                    <option value="pretraga">Pretraga</option>
                </select>
            </div>
            <div class="col-xs-6">
                <ng-container *ngIf="isDatum">
                    <label
                        for="datum">Datum:</label>
                    <input
                        type="date"
                        class="form-control"
                        formControlName="datum">
                </ng-container>
                <ng-container *ngIf="!isDatum">
                    <label
                        for="pretraga">Pretraga:</label>
                    <input
                        type="text"
                        class="form-control pretraga"
                        formControlName="pretraga"
                        placeholder="Unesite parametar pretrage...">
                </ng-container>
                <mat-error
                    *ngIf="(datum.touched || datum.dirty) && datum.invalid">
                    <mat-error *ngIf="datum.errors?.pattern">Neispravan format datuma!</mat-error>
                </mat-error>
            </div>
            <div class="col-xs-2">
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="povuciNalaze()">Pogledaj nalaze</button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="nemaNalaza && isAktivan">
    <h4>{{nemaNalaza}}</h4>
</div>
<div
    class="row"
    style="margin-top:20px;"
    *ngIf="!nemaNalaza && isAktivan">
    <div class="col-xs-12">
        <app-nalazi-list
            [nalazi]="nalazi"></app-nalazi-list>
    </div>
</div>
