<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <button type="button" class="btn btn-info" (click)="onBack()" style="float:right">Natrag</button>
            <h3>Ažuriraj pacijenta</h3>
            <div>
                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            </div>
            <app-alert *ngIf="response" [message]="responsePoruka" (close)="onClose()"></app-alert>
            <form #forma="ngForm" (ngSubmit)="onSubmit(forma)">
                <div class="form-group">
                    <label for="ime">Ime pacijenta</label>
                    <input 
                        type="text" 
                        name="ime" 
                        class="form-control" 
                        [(ngModel)]="pacijent[0].imePacijent"
                        #ime="ngModel"
                        required
                        placeholder="Unesite ime pacijenta">
                    <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                    <span class="help-block" *ngIf="!ime.valid && ime.touched">Unos imena pacijenta je obavezan!</span>
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime pacijenta</label>
                    <input 
                        type="text" 
                        name="prezime" 
                        class="form-control" 
                        [(ngModel)]="pacijent[0].prezPacijent"
                        #prezime="ngModel" 
                        required
                        placeholder="Unesite prezime pacijenta">
                    <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                    <span class="help-block" *ngIf="!prezime.valid && prezime.touched">Unos prezimena pacijenta je obavezan!</span>
                </div>
                <div class="form-group">
                    <label for="email">Email pacijenta</label>
                    <input 
                        type="email" 
                        name="email" 
                        class="form-control"
                        [(ngModel)]="pacijent[0].emailPacijent"
                        #email="ngModel"
                        required
                        email 
                        placeholder="Unesite email pacijenta">
                    <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                    <span class="help-block" *ngIf="!email.valid && email.touched">Unos email-a pacijenta je obavezan!</span>   
                </div>
                <div class="form-group">
                    <label for="spol">Spol pacijenta</label><br>
                    <label class="radio-inline">
                        <input 
                            type="radio" 
                            name="spol" 
                            value="male"
                            [(ngModel)]="gender"
                            #male 
                            required>Muško
                    </label>
                    <label class="radio-inline">
                    <input 
                        type="radio" 
                        name="spol" 
                        value="female"
                        [(ngModel)]="gender"
                        #female>Žensko
                    </label>
                </div>
                <div class="form-group">
                    <label for="adresa">Starost pacijenta</label>
                    <input 
                        type="number" 
                        name="starost" 
                        class="form-control" 
                        [(ngModel)]="pacijent[0].starostPacijent" 
                        #starost="ngModel"
                        required 
                        placeholder="Unesite starost pacijenta"
                        pattern="^(0|[1-9][0-9]*)$">
                    <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                    <span class="help-block" *ngIf="!starost.valid && starost.touched">Unos starosti pacijenta je obavezan!</span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Ažuriraj</button>
                </div>
            </form>  
        </div>   
    </div>
</div>
