<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <!--Prikaziva se prozor sa pogreškom ako ima errora-->
        <app-alert *ngIf="response" [message]="responsePoruka" (close)="onClose()"></app-alert>
        <!--Prikaziva se prozor sa otvorenim slučajevima-->
        <app-otvoreni-slucaj *ngIf="otvoren" (close)="onCloseCase()" (podatciRetka)="onPoveziOtvoreniSlucaj($event)"></app-otvoreni-slucaj>
        <form (ngSubmit)="onSubmit()" [formGroup]="forma">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <label
                                    for="nacinPlacanja"
                                    style="font-family: Verdana, sans-serif;">Način plaćanja:</label>
                            </td>
                            <td>
                                <input
                                    type="radio"
                                    value="hzzo"
                                    formControlName="nacinPlacanja">HZZO
                            </td>
                            <td>
                                <select class="form-control" style="width:200px;height:35px;margin-left:-250px;" formControlName="podrucniUred">
                                    <option value="" [disabled]="true" [ngValue]="null">Odaberite područni ured</option>
                                    <option *ngFor="let ured of podrucniUredi" value="{{ured.nazivSluzbe}}">{{ured.nazivSluzbe}}</option>
                                </select>
                                <input
                                    type="text"
                                    formControlName="sifUred"
                                    class="form-control"
                                    style="width:50px;margin-top:-35px;margin-left:-40px;">
                                <span class="help-block" *ngIf="(podrucniUred.touched || podrucniUred.dirty) && !podrucniUred.valid">
                                    <span *ngIf="podrucniUred.errors['required']" style="margin-left:-250px;">Ovo polje je obavezno za unos!</span>
                                    <span *ngIf="podrucniUred.errors['uredIsForbidden'] && !podrucniUred.errors['required']" style="margin-left:-250px;">Ova vrijednost nije dozvoljena!</span>
                                </span>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input
                                    type="radio"
                                    value="ozljeda"
                                    formControlName="nacinPlacanja">Ozljeda na radu
                            </td>
                            <td>
                                <select class="form-control" style="width:200px;height:35px;margin-left:-250px;" formControlName="ozljeda">
                                    <option  value="" [disabled]="true" [ngValue]="null">Odaberite područni ured</option>
                                    <option *ngFor="let ured of podrucniUredi" value="{{ured.nazivSluzbe}}">{{ured.nazivSluzbe}}</option>
                                </select>
                                <input
                                    type="text"
                                    formControlName="sifUredOzljeda"
                                    class="form-control"
                                    style="width:50px;margin-top:-35px;margin-left:-40px;">
                                <span class="help-block" *ngIf="(ozljeda.touched || ozljeda.dirty) && !ozljeda.valid">
                                    <span *ngIf="ozljeda.errors['required']" style="margin-left:-250px;">Ovo polje je obavezno za unos!</span>
                                    <span *ngIf="ozljeda.errors['uredIsForbidden'] && !ozljeda.errors['required']" style="margin-left:-250px;">Ova vrijednost nije dozvoljena!</span>
                                </span>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input
                                    type="radio"
                                    value="poduzece"
                                    formControlName="nacinPlacanja">Poduzeće
                            </td>
                            <td>
                                <input
                                    type="text"
                                    placeholder="Unesite naziv poduzeća..."
                                    class="form-control"
                                    style="width:200px;margin-left:-250px;"
                                    formControlName="poduzece">
                                <span class="help-block" *ngIf="(poduzece.touched || poduzece.dirty) && !poduzece.valid">
                                    <span *ngIf="poduzece.errors?.required" style="margin-left:-250px;">Ovo polje je obavezno za unos!</span>
                                </span>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input
                                    type="radio"
                                    value="osobno"
                                    formControlName="nacinPlacanja">Osobno
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <!-- Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                        <span class="help-block" *ngIf="!forma.get('nacinPlacanja').valid && forma.get('nacinPlacanja').touched">Unos načina plaćanja je obavezan!</span>
                        <tr>
                            <td>
                                <label
                                    for="kategorijaOsiguranja"
                                    style="font-family: Verdana, sans-serif;">Kategorija osiguranja:</label>
                            </td>
                            <td>
                                <select class="form-control" style="width:250px;height:38px" formControlName="kategorijaOsiguranja">
                                    <option value="" [disabled]="true" [ngValue]="null">Odaberite kategoriju osiguranja</option>
                                    <option *ngFor="let kategorija of katOsiguranja" value="{{kategorija.opisOsiguranika}}">{{kategorija.opisOsiguranika}}</option>
                                </select>
                                <input
                                    type="text"
                                    formControlName="oznakaOsiguranika"
                                    class="form-control"
                                    style="width:50px;margin-left:255px;margin-top:-38px;height:38px;">
                                <span class="help-block" *ngIf="(kategorijaOsiguranja.touched || kategorijaOsiguranja.dirty) && !kategorijaOsiguranja.valid">
                                    <span *ngIf="kategorijaOsiguranja.errors['required']">Ovo polje je obavezno za unos!</span>
                                    <span *ngIf="kategorijaOsiguranja.errors['opisIsForbidden'] && !kategorijaOsiguranja.errors['required']">Ova vrijednost nije dozvoljena!</span>
                                </span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="drzavaOsiguranja"
                                    style="font-family: Verdana, sans-serif;">Država osiguranja:</label>
                            </td>
                            <td>
                                <select class="form-control" style="width:250px;height:35px" formControlName="drzavaOsiguranja">
                                    <option value="" [disabled]="true" [ngValue]="null">Odaberite državu osiguranja</option>
                                    <option *ngFor="let drzava of drzave" value="{{drzava.nazivDrzave}}">{{drzava.nazivDrzave}}</option>
                                </select>
                                <span class="help-block" *ngIf="(drzavaOsiguranja.touched || drzavaOsiguranja.dirty) && !drzavaOsiguranja.valid">
                                    <span *ngIf="drzavaOsiguranja.errors['required']">Ovo polje je obavezno za unos!</span>
                                    <span *ngIf="drzavaOsiguranja.errors['drzaveIsForbidden'] && !drzavaOsiguranja.errors['required']">Ova vrijednost nije dozvoljena!</span>
                                </span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="mbrPacijent"
                                    style="font-family: Verdana, sans-serif;">Matični broj pacijenta:</label>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    formControlName="mbrPacijent"
                                    class="form-control"
                                    placeholder="Unesite matični broj pacijenta.."
                                    style="width:250px;">
                                <span class="help-block" *ngIf="(mbrPacijent.touched || mbrPacijent.dirty) && !mbrPacijent.valid">
                                    <span *ngIf="mbrPacijent.errors['pattern']">Morate unijeti ispravan format MBO-a!</span>
                                    <span *ngIf="mbrPacijent.errors['required']">Ovo polje je obavezno za unos!</span>
                                    <span *ngIf="mbrPacijent.errors?.nePostojiMBO && !mbrPacijent.errors['pattern'] && !mbrPacijent.errors['required']">Nesipravan MBO!</span>
                                </span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>
                                <h4 style="font-family: Verdana, sans-serif;">Dopunsko osiguranje</h4>
                            </td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="brIskDopunsko"
                                    style="font-family: Verdana, sans-serif;">Broj iskaznice dopunskog osiguranja:</label>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    formControlName="brIskDopunsko"
                                    class="form-control"
                                    placeholder="Unesite broj iskaznice dopunskog osiguranja.."
                                    style="width:250px;">
                                <span class="help-block" *ngIf="(brIskDopunsko.touched || brIskDopunsko.dirty) && !brIskDopunsko.valid">
                                    <span *ngIf="brIskDopunsko.errors?.required">Morate unijeti broj iskaznice dopunskog osiguranja!</span>
                                    <span *ngIf="brIskDopunsko.errors?.pattern">Morate unijeti ispravan format broja iskaznice dopunskog osiguranja!</span>
                                    <span *ngIf="brIskDopunsko.errors?.nePostojiBrojDopunsko && !brIskDopunsko.errors?.required && !brIskDopunsko.errors?.pattern">Neispravan broj iskaznice dopunskog osiguranja!</span>
                                </span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <h4 style="font-family: Verdana, sans-serif;">Dijagnoze</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="primarnaDijagnoza"
                                    style="margin-top:8px;font-family: Verdana, sans-serif;">Primarna dijagnoza:</label></td>
                            <td>
                                <select class="form-control" style="width:350px;height:35px" formControlName="primarnaDijagnoza">
                                    <option [disabled]="true" [ngValue]="null">Odaberite dijagnozu</option>
                                    <option *ngFor="let dijagnoza of dijagnoze" value="{{dijagnoza.imeDijagnoza}}">{{dijagnoza.imeDijagnoza}}</option>
                                </select>
                                <span
                                    class="help-block"
                                    *ngIf="primarnaDijagnoza.value">
                                    <span *ngIf="primarnaDijagnoza.errors?.neispravanNazivDijagnoza">Neispravan unos primarne dijagnoze!</span>
                                  </span>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="form-control"
                                    style="width:100px;height:35px"
                                    formControlName="mkbPrimarnaDijagnoza"
                                    placeholder="MKB šifra">
                                <span
                                    class="help-block"
                                    *ngIf="((mkbPrimarnaDijagnoza.touched || mkbPrimarnaDijagnoza.dirty) && !mkbPrimarnaDijagnoza.valid)"
                                    style="font-family: Verdana, sans-serif;font-weight: bold;">
                                    <span *ngIf="mkbPrimarnaDijagnoza.errors?.neispravanMKB">Neispravan unos MKB šifre!</span>
                                </span>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr formArrayName="sekundarnaDijagnoza" *ngFor="let dijagnozaCtrl of getControlsSekundarna(); let i = index">
                            <ng-container [formGroupName]="i">
                                    <td><label for="sekundarnaDijagnoza"
                                                *ngIf="i<1"
                                                style="font-family: Verdana, sans-serif;margin-top:6px;">Sekundarna dijagnoza:</label></td>
                                    <td>
                                        <select
                                            class="form-control"
                                            style="width:350px;height:35px;"
                                            formControlName="nazivSekundarna"
                                            (change)="onChangeNazivSekundarna(dijagnozaCtrl.value.nazivSekundarna,i)">
                                            <option [disabled]="true" [ngValue]="null">Odaberite dijagnozu</option>
                                            <option *ngFor="let dijagnoza of dijagnoze" value="{{dijagnoza.imeDijagnoza}}">{{dijagnoza.imeDijagnoza}}</option>
                                        </select>
                                        <span
                                            class="help-block"
                                            *ngIf="(dijagnozaCtrl.touched || dijagnozaCtrl.dirty) && !dijagnozaCtrl.valid"
                                            style="font-weight: bold;font-family: Verdana, sans-serif;">
                                            <span
                                                *ngIf="dijagnozaCtrl.errors?.requiredMKB">MKB šifra je obavezna za unos!</span>
                                            <span
                                                *ngIf="!dijagnozaCtrl.errors?.requiredMKB && dijagnozaCtrl.errors?.neispravanMKB"
                                                style="display: block;">Neispravan unos MKB šifre!</span>
                                            <span
                                                *ngIf="!dijagnozaCtrl.errors?.requiredMKB && dijagnozaCtrl.errors?.requiredNazivSekundarna"
                                                style="display: block;">Naziv sekundarne dijagnoze je obavezan za unos!</span>
                                        </span>
                                        <span
                                            class="help-block"
                                            style="font-weight: bold;font-family: Verdana, sans-serif;"
                                            *ngIf="!sekundarnaDijagnoza.valid">
                                            <!--Prikaži samo ako se pojavio error i PRIKAŽI SAMO NA ZADNJEM FORM CONTROLU-->
                                            <span
                                                *ngIf="sekundarnaDijagnoza.errors?.duplikat && dijagnozaCtrl.value.nazivSekundarna === sekDijagnoza"
                                                style="display: block;">Duplikati nisu dozvoljeni!</span>
                                        </span>
                                        <span
                                            class="help-block"
                                            *ngIf="((dijagnozaCtrl.touched || dijagnozaCtrl.dirty) ||
                                            (primarnaDijagnoza.touched || primarnaDijagnoza.dirty) ||
                                            (mkbPrimarnaDijagnoza.touched || mkbPrimarnaDijagnoza.dirty)) && !forma.valid"
                                            style="font-weight: bold;font-family: Verdana, sans-serif;">
                                            <span *ngIf="forma.errors?.primarnaJeIstaKaoSekundarna && dijagnozaCtrl.value.nazivSekundarna === dijagnoza"
                                                style="display:block;">Ovu dijagnozu ste unijeli kao primarnu dijagnozu!</span>
                                        </span>
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="form-control"
                                            style="width:100px;height:35px;"
                                            formControlName="mkbSifraSekundarna"
                                            placeholder="MKB šifra"
                                            (input)="onChangeMKB(dijagnozaCtrl.value.mkbSifraSekundarna,i)">
                                    </td>
                                    <td colspan="2">
                                        <button
                                            type="button"
                                            class="btn btn-danger"
                                            (click)="onDeleteDiagnosis(i)">X</button>
                                    </td>
                            </ng-container>
                        </tr>
                        <tr>
                            <td></td>
                            <!--BUTTON JE DISABLED AKO DIJAGNOZE NISU ISPRAVNE-->
                            <td><button
                                    type="button"
                                    class="btn btn-info"
                                    (click)="onAddDiagnosis()"
                                    [disabled]="sekundarnaDijagnoza.errors?.duplikat || forma.errors?.primarnaJeIstaKaoSekundarna || !primarnaDijagnoza.value">Dodaj sekunardnu dijagnozu</button></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr formGroupName="tipSlucaj">
                            <td>
                                <input
                                    type="checkbox"
                                    formControlName="noviSlucaj"
                                    value="noviSlucaj"
                                    *ngIf="!ponistiPovezaniSlucaj">
                                <label
                                    for="noviSlucaj"
                                    style="margin-left:2px;font-family: Verdana, sans-serif"
                                    *ngIf="!ponistiPovezaniSlucaj">Novi slučaj</label>
                                <input
                                    type="checkbox"
                                    formControlName="povezanSlucaj"
                                    value="povezanSlucaj"
                                    *ngIf="ponistiPovezaniSlucaj">
                                <label
                                    for="povezanSlucaj"
                                    style="margin-left:2px;font-family: Verdana, sans-serif"
                                    *ngIf="ponistiPovezaniSlucaj">Povezani slučaj</label>
                            </td>
                            <td><a
                                    *ngIf="!ponistiPovezaniSlucaj"
                                    (click)="onOpenCase()"
                                    style="color:#337ab7;cursor: pointer;font-weight: bold;font-family: Verdana, sans-serif;">Otvoreni slučaj</a>
                                <a
                                    *ngIf="ponistiPovezaniSlucaj"
                                    (click)="onPonistiPovezaniSlucaj()"
                                    style="color:#337ab7;cursor: pointer;font-weight: bold;font-family: Verdana, sans-serif;">Poništi povezani slučaj</a>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <!--Sve dok podatci u formi nisu ispravno uneseni, button se neće moći stisnuti-->
                            <td colspan="5">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    [disabled]="!forma.valid"
                                    style="margin:auto;display:block;">Potvrdi opće podatke</button>
                            </td>
                            <!-- <td colspan="3">
                                <h4
                                    style="color:#006600;
                                    font-family: Verdana, sans-serif;
                                    font-weight: bold;white-space: nowrap;"
                                    *ngIf="forma.valid && isAktivan">Podatci su spremni za unos!</h4>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
