<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h3>Ažuriraj lozinku</h3>
            <app-alert *ngIf="response" [message]="responsePoruka" (close)="onClose()"></app-alert>
            <form #forma="ngForm" (ngSubmit)="onSubmit(forma)">
                <div class="form-group">
                    <label for="trenutna">Trenutna lozinka</label>
                    <input 
                        type="password" 
                        name="trenutnaLozinka" 
                        class="form-control" 
                        ngModel
                        required 
                        minlength="6"
                        placeholder="Trenutna lozinka">
                </div>
                <div class="form-group">
                    <label for="nova">Nova lozinka</label>
                    <input 
                        type="password" 
                        name="novaLozinka" 
                        class="form-control" 
                        ngModel 
                        required 
                        minlength="6"
                        placeholder="Nova lozinka">
                </div>
                <div class="form-group">
                    <label for="potvrdaNova">Potvrda nove lozinke</label>
                    <input 
                        type="password" 
                        name="potvrdaNovaLozinka" 
                        class="form-control"
                        ngModel 
                        required 
                        minlength="6"
                        placeholder="Potvrda nove lozinke">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Ažuriraj</button>
                </div>
            </form>  
        </div>   
    </div>
</div>
