<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <h3>Izdavanje uputnice</h3>
    <app-prikazi-povijest-bolesti
        *ngIf="isPovijestBolesti"
        (closeUputnica)="onClosePovijestBolesti($event)"
        [primljeneDijagnoze]="dijagnoze"
        [idPacijent]="idPacijent"
        [oznaka]="oznaka"></app-prikazi-povijest-bolesti>
    <div class="col-xs-12 col-md-12">
        <form
            [formGroup]="forma"
            *ngIf="forma"
            (ngSubmit)="onSubmit()">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <label
                                    for="pacijent"
                                    class="label_prva_skupina">Pacijent:</label>
                            </td>
                            <td colspan="3">
                                <select
                                    class="form-control"
                                    formControlName="pacijent"
                                    (change)="onChangePacijent($event)">
                                    <option [ngValue]="null" [disabled]="true">Odaberite pacijenta</option>
                                    <option *ngFor="let pacijent of pacijenti" value="{{pacijent}}">{{pacijent}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="primarnaDijagnoza">Primarna dijagnoza:</label>
                            </td>
                            <td>
                                <select
                                    class="form-control"
                                    formControlName="primarnaDijagnoza">
                                    <option [ngValue]="null" [disabled]="true">Odaberite dijagnozu</option>
                                    <option *ngFor="let dijagnoza of dijagnoze" value="{{dijagnoza.imeDijagnoza}}">{{dijagnoza.imeDijagnoza}}</option>
                                </select>
                                <span
                                    class="help-block"
                                    *ngIf="((primarnaDijagnoza.touched || primarnaDijagnoza.dirty) && !primarnaDijagnoza.valid)">
                                    <span *ngIf="primarnaDijagnoza.errors?.required">Primarna dijagnoza je obvezna!</span>
                                    <span *ngIf="primarnaDijagnoza.errors?.neispravanNazivDijagnoza &&
                                          !primarnaDijagnoza.errors?.required">Neispravan unos primarne dijagnoze!</span>
                                </span>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="form-control input_dijagnoze"
                                    formControlName="mkbPrimarnaDijagnoza"
                                    placeholder="MKB šifra">
                                <span
                                    class="help-block"
                                    *ngIf="((mkbPrimarnaDijagnoza.touched || mkbPrimarnaDijagnoza.dirty) && !mkbPrimarnaDijagnoza.valid)">
                                    <span *ngIf="mkbPrimarnaDijagnoza.errors?.required">MKB šifra dijagnoze je obvezna!</span>
                                    <span *ngIf="mkbPrimarnaDijagnoza.errors?.neispravanMKB && !mkbPrimarnaDijagnoza.errors?.required">Neispravan unos MKB šifre!</span>
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr formArrayName="sekundarnaDijagnoza" *ngFor="let dijagnozaCtrl of getControlsSekundarna(); let i = index">
                            <ng-container [formGroupName]="i">
                                    <td>
                                        <label for="sekundarnaDijagnoza"
                                                *ngIf="i<1">Sekundarna dijagnoza:</label></td>
                                    <td>
                                        <select
                                            class="form-control"
                                            formControlName="nazivSekundarna"
                                            (change)="onChangeNazivSekundarna(dijagnozaCtrl.value.nazivSekundarna,i)">
                                            <option [disabled]="true" [ngValue]="null">Odaberite dijagnozu</option>
                                            <option *ngFor="let dijagnoza of dijagnoze" value="{{dijagnoza.imeDijagnoza}}">{{dijagnoza.imeDijagnoza}}</option>
                                        </select>
                                        <span
                                            class="help-block"
                                            *ngIf="(dijagnozaCtrl.touched || dijagnozaCtrl.dirty) && !dijagnozaCtrl.valid">
                                            <span
                                                *ngIf="dijagnozaCtrl.errors?.requiredMKB">MKB šifra je obvezna za unos!</span>
                                            <span
                                                *ngIf="!dijagnozaCtrl.errors?.requiredMKB && dijagnozaCtrl.errors?.neispravanMKB">Neispravan unos MKB šifre!</span>
                                        </span>
                                        <span
                                            class="help-block"
                                            *ngIf="!sekundarnaDijagnoza.valid">
                                            <!--Prikaži samo ako se pojavio error i PRIKAŽI SAMO NA ZADNJEM FORM CONTROLU-->
                                            <span
                                                *ngIf="sekundarnaDijagnoza.errors?.duplikat && dijagnozaCtrl.value.nazivSekundarna === sekDijagnoza">Duplikati nisu dozvoljeni!</span>
                                        </span>
                                        <span
                                            class="help-block"
                                            *ngIf="(dijagnozaCtrl.touched || dijagnozaCtrl.dirty) && !forma.valid">
                                            <span *ngIf="forma.errors?.primarnaJeIstaKaoSekundarna && dijagnozaCtrl.value.nazivSekundarna === dijagnoza">Ovu dijagnozu ste unijeli kao primarnu dijagnozu!</span>
                                        </span>
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="form-control input_dijagnoze"
                                            formControlName="mkbSifraSekundarna"
                                            placeholder="MKB šifra"
                                            (input)="onChangeMKB(dijagnozaCtrl.value.mkbSifraSekundarna,i)">
                                    </td>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-danger button_on_delete"
                                            (click)="onDeleteDiagnosis(i)">X</button>
                                    </td>
                            </ng-container>
                        </tr>
                        <tr>
                            <td></td>
                            <!--BUTTON JE DISABLED AKO DIJAGNOZE NISU ISPRAVNE-->
                            <td colspan="3">
                                <button
                                    type="button"
                                    class="btn btn-info"
                                    (click)="onAddDiagnosis()"
                                    [disabled]="sekundarnaDijagnoza.errors?.duplikat ||
                                            forma.errors?.primarnaJeIstaKaoSekundarna ||
                                            !primarnaDijagnoza.value">Dodaj sekunardnu dijagnozu</button></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label
                                    for="laboratorijskaDijagnostika"
                                    class="label_laboratorij">Laboratorij</label>
                                <input
                                    type="radio"
                                    formControlName="tip"
                                    value="laboratorijskaDijagnostika"
                                    (change)="onChangeTip($event)">
                                <label
                                    for="specijalistickaDjelatnost"
                                    class="label_spec_djelatnost">Specijalistička djelatnost</label>
                                <input
                                    type="radio"
                                    formControlName="tip"
                                    value="specijalistickaDjelatnost"
                                    (change)="onChangeTip($event)">
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr formGroupName="zdravstvenaDjelatnost">
                            <td>
                                <label for="zdravstvenaDjelatnost">Zdravstvena djelatnost:</label>
                            </td>
                            <td colspan="3">
                                <select
                                    class="form-control select_ostalo"
                                    formControlName="nazivZdrDjel">
                                    <option [ngValue]="null" [disabled]="true">Odaberite zdravstvenu djelatnost</option>
                                    <option *ngFor="let djelatnost of zdravstveneDjelatnosti" value="{{djelatnost.nazivDjelatnosti}}">{{djelatnost.nazivDjelatnosti}}</option>
                                </select>
                                <input
                                    type="text"
                                    formControlName="sifZdrDjel"
                                    class="form-control input_zdr"
                                    placeholder="Šifra djelatnosti">
                                <span
                                    class="help-block"
                                    *ngIf="tip.value === 'specijalistickaDjelatnost'">
                                    <span
                                        *ngIf="nazivZdrDjel.errors?.required">Zdravstvena djelatnost je obvezna za unos!</span>
                                    <span
                                        *ngIf="nazivZdrDjel.errors?.neispravanNazivZdrDjelatnosti &&
                                              !nazivZdrDjel.errors?.required">Neispravan unos naziva zdr. djelatnosti!</span>
                                </span>
                                <span
                                    class="help-block"
                                    *ngIf="(sifZdrDjel.touched || sifZdrDjel.dirty) && !sifZdrDjel.valid">
                                    <span
                                        *ngIf="sifZdrDjel.errors?.required">Šifra zdravstvene djelatnosti je obvezna za unos!</span>
                                    <span
                                        *ngIf="sifZdrDjel.errors?.pattern && !sifZdrDjel.errors?.required">Samo pozitivne cjelobrojne vrijednosti su dozvoljene!</span>
                                    <span
                                        *ngIf="sifZdrDjel.errors?.neispravnaSifraZdrDjelatnosti &&
                                              !sifZdrDjel.errors?.required &&
                                              !sifZdrDjel.errors?.pattern">Neispravan unos šifre zdr. djelatnosti!</span>
                                </span>
                            </td>
                        </tr>
                        <tr formGroupName="zdravstvenaUstanova">
                            <td>
                                <label for="zdravstvenaUstanova">Zdravstvena ustanova:</label>
                            </td>
                            <td colspan="3">
                                <select
                                    class="form-control select_ostalo"
                                    formControlName="nazivZdrUst">
                                    <option [ngValue]="null" [disabled]="true">Odaberite zdravstvenu ustanovu</option>
                                    <option *ngFor="let ustanova of zdravstveneUstanove" value="{{ustanova.naziv}}">{{ustanova.naziv}}</option>
                                </select>
                                <input
                                    type="text"
                                    formControlName="sifZdrUst"
                                    class="form-control input_zdr"
                                    placeholder="Šifra zdravstvene ustanove">
                                    <span
                                        class="help-block"
                                        *ngIf="tip.value === 'laboratorijskaDijagnostika'
                                            && nazivZdrDjel.value && sifZdrDjel.value">
                                        <span *ngIf="zdravstvenaUstanova.errors?.requiredZdrUstanova">
                                            Morate unijeti zdravstvenu ustanovu!
                                        </span>
                                    </span>
                                    <span
                                        class="help-block"
                                        *ngIf="(nazivZdrUst.touched || nazivZdrUst.dirty) && !nazivZdrUst.valid">
                                        <span
                                            *ngIf="nazivZdrUst.errors?.neispravanNazivZdrUstanova">Neispravan unos naziva zdr. ustanove!</span>
                                    </span>
                                    <span
                                        class="help-block"
                                        *ngIf="sifZdrUst.value">
                                        <span
                                            *ngIf="sifZdrUst.errors?.pattern">Samo pozitivne cjelobrojne vrijednosti su dozvoljene!</span>
                                        <span
                                            *ngIf="sifZdrUst.errors?.neispravnaSifraZdrUstanova &&
                                                    !sifZdrUst.errors?.pattern">Neispravan unos šifre zdr. ustanove!</span>
                                    </span>
                            </td>
                            </tr>
                            <tr>
                                <td>
                                    <label
                                        for="vrstaPregled"
                                        class="label_prva_skupina">Vrsta pregleda:</label>
                                </td>
                                <td colspan="3">
                                    <select
                                        class="form-control"
                                        formControlName="vrstaPregled">
                                        <option [ngValue]="null" [disabled]="true">Odaberite vrstu pregleda</option>
                                        <option
                                            *ngFor="let pregled of vrstePregleda"
                                            value="{{pregled}}">{{pregled}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr formGroupName="specijalist">
                            <td>
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    formControlName="isPreporukaSpecijalist"
                                    (change)="onChangeSpecijalist($event)">
                                <label
                                    class="form-check-label label_specijalist"
                                    for="isPreporukaSpecijalist">Preporučio specijalist</label>
                            </td>
                            <td colspan="3">
                                <ng-container *ngIf="isSpecijalist">
                                    <label
                                        for="sifraSpecijalist"
                                        class="label_sifra_specijalist">Šifra specijalista:</label>
                                    <input
                                        type="text"
                                        class="form-control input_sifra_specijalist"
                                        formControlName="sifraSpecijalist"
                                        placeholder="Šifra specijalista...">
                                    <input
                                        type="text"
                                        class="form-control input_tip_specijalist"
                                        formControlName="tipSpecijalist"
                                        placeholder="Naziv tipa specijalista..."
                                        readonly>
                                    <span
                                        class="help-block span_specijalist"
                                        *ngIf="sifraSpecijalist.errors?.requiredSpecijalist">Morate unijeti šifru specijalista!</span>
                                    <span
                                        class="help-block span_specijalist"
                                        *ngIf="sifraSpecijalist.errors?.pattern">Šifra specijalista mora biti pozitivna cjelobrojna vrijednost!</span>
                                    <span
                                        class="help-block span_specijalist"
                                        *ngIf="sifraSpecijalist.errors?.neispravnaSifraSpecijalista &&
                                            !sifraSpecijalist.errors?.pattern &&
                                            !sifraSpecijalist.errors?.requiredSpecijalist">Neispravan unos šifre specijalista!</span>
                                </ng-container>
                            </td>
                        </tr>
                        <tr>
                                <td>
                                    <label
                                        class="label_prva_skupina"
                                        for="molimTraziSe">Molim, traži se:</label>
                            </td>
                            <td colspan="3">
                                <textarea
                                    rows="2"
                                    class="form-control"
                                    formControlName="molimTraziSe"></textarea>
                                <span
                                    class="help-block"
                                    *ngIf="tip.value">
                                    <span
                                        *ngIf="molimTraziSe.errors?.required">"Molim, Traži se" je obvezno za unos!</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                                <td>
                                    <label
                                        class="label_prva_skupina"
                                        for="napomena">Napomena liječnika:</label>
                            </td>
                            <td colspan="3">
                                <textarea
                                    rows="2"
                                    class="form-control"
                                    formControlName="napomena"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button
                                    type="submit"
                                    [disabled]="!forma.valid"
                                    class="btn btn-info button_izdaj">Izdaj uputnicu</button>
                            </td>
                            <td colspan="2">
                                <h4
                                    *ngIf="forma.valid">Uputnica je spremna za unos!</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="alert-box-actions">
        <button
            type="button"
            class="btn btn-primary"
            (click)="onClose()">Izađi</button>
    </div>
</div>
