<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <h3
        style="text-align: center;color:#337ab7;
            font-family: Verdana, sans-serif;font-weight: bold;">Izdavanje uputnice</h3>
    <app-prikazi-povijest-bolesti
        *ngIf="isPovijestBolesti"
        (closeUputnica)="onClosePovijestBolesti($event)"
        [primljeneDijagnoze]="dijagnoze"
        [idPacijent]="idPacijent"></app-prikazi-povijest-bolesti>
    <div class="col-xs-12 col-md-12">
        <form [formGroup]="forma" *ngIf="forma" (ngSubmit)="onSubmit()">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <label for="pacijent"
                                    style="margin-top:8px;
                                        font-family: Verdana, sans-serif;
                                        float:right;margin-right:50px;">Pacijent:</label>
                            </td>
                            <td colspan="3">
                                <select
                                    class="form-control"
                                    style="width:350px;height:35px"
                                    formControlName="pacijent"
                                    (change)="onChangePacijent($event)">
                                    <option [ngValue]="null" [disabled]="true">Odaberite pacijenta</option>
                                    <option *ngFor="let pacijent of pacijenti" value="{{pacijent}}">{{pacijent}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="primarnaDijagnoza"
                                    style="margin-top:8px;font-family: Verdana, sans-serif;">Primarna dijagnoza:</label>
                            </td>
                            <td>
                                <select
                                    class="form-control"
                                    style="width:350px;height:35px"
                                    formControlName="primarnaDijagnoza">
                                    <option [ngValue]="null" [disabled]="true">Odaberite dijagnozu</option>
                                    <option *ngFor="let dijagnoza of dijagnoze" value="{{dijagnoza.imeDijagnoza}}">{{dijagnoza.imeDijagnoza}}</option>
                                </select>
                                <span
                                    class="help-block"
                                    *ngIf="((primarnaDijagnoza.touched || primarnaDijagnoza.dirty) && !primarnaDijagnoza.valid)"
                                    style="font-family: Verdana, sans-serif;font-weight: bold;">
                                    <span *ngIf="primarnaDijagnoza.errors?.required">Primarna dijagnoza je obavezna!</span>
                                    <span *ngIf="primarnaDijagnoza.errors?.neispravanNazivDijagnoza &&
                                          !primarnaDijagnoza.errors?.required">Neispravan unos primarne dijagnoze!</span>
                                </span>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="form-control"
                                    style="width:100px;height:35px;"
                                    formControlName="mkbPrimarnaDijagnoza"
                                    placeholder="MKB šifra">
                                <span
                                    class="help-block"
                                    *ngIf="((mkbPrimarnaDijagnoza.touched || mkbPrimarnaDijagnoza.dirty) && !mkbPrimarnaDijagnoza.valid)"
                                    style="font-family: Verdana, sans-serif;font-weight: bold;">
                                    <span *ngIf="mkbPrimarnaDijagnoza.errors?.required">MKB šifra dijagnoze je obavezna!</span>
                                    <span *ngIf="mkbPrimarnaDijagnoza.errors?.neispravanMKB && !mkbPrimarnaDijagnoza.errors?.required">Neispravan unos MKB šifre!</span>
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr formArrayName="sekundarnaDijagnoza" *ngFor="let dijagnozaCtrl of getControlsSekundarna(); let i = index">
                            <ng-container [formGroupName]="i">
                                    <td>
                                        <label for="sekundarnaDijagnoza"
                                                *ngIf="i<1"
                                                style="font-family: Verdana, sans-serif;margin-top:6px;">Sekundarna dijagnoza:</label></td>
                                    <td>
                                        <select
                                            class="form-control"
                                            style="width:350px;height:35px"
                                            formControlName="nazivSekundarna"
                                            (change)="onChangeNazivSekundarna(dijagnozaCtrl.value.nazivSekundarna,i)">
                                            <option [disabled]="true" [ngValue]="null">Odaberite dijagnozu</option>
                                            <option *ngFor="let dijagnoza of dijagnoze" value="{{dijagnoza.imeDijagnoza}}">{{dijagnoza.imeDijagnoza}}</option>
                                        </select>
                                        <span
                                            class="help-block"
                                            *ngIf="(dijagnozaCtrl.touched || dijagnozaCtrl.dirty) && !dijagnozaCtrl.valid"
                                            style="font-weight: bold;font-family: Verdana, sans-serif;">
                                            <span
                                                *ngIf="dijagnozaCtrl.errors?.requiredMKB">MKB šifra je obavezna za unos!</span>
                                            <span
                                                *ngIf="!dijagnozaCtrl.errors?.requiredMKB && dijagnozaCtrl.errors?.neispravanMKB"
                                                style="display: block;">Neispravan unos MKB šifre!</span>
                                        </span>
                                        <span
                                            class="help-block"
                                            style="font-weight: bold;font-family: Verdana, sans-serif;"
                                            *ngIf="!sekundarnaDijagnoza.valid">
                                            <!--Prikaži samo ako se pojavio error i PRIKAŽI SAMO NA ZADNJEM FORM CONTROLU-->
                                            <span
                                                *ngIf="sekundarnaDijagnoza.errors?.duplikat && dijagnozaCtrl.value.nazivSekundarna === sekDijagnoza"
                                                style="display: block;">Duplikati nisu dozvoljeni!</span>
                                        </span>
                                        <span
                                            class="help-block"
                                            *ngIf="(dijagnozaCtrl.touched || dijagnozaCtrl.dirty) && !forma.valid"
                                            style="font-weight: bold;font-family: Verdana, sans-serif;">
                                            <span *ngIf="forma.errors?.primarnaJeIstaKaoSekundarna && dijagnozaCtrl.value.nazivSekundarna === dijagnoza"
                                                style="display:block;">Ovu dijagnozu ste unijeli kao primarnu dijagnozu!</span>
                                        </span>
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="form-control"
                                            style="width:100px;height:35px"
                                            formControlName="mkbSifraSekundarna"
                                            placeholder="MKB šifra"
                                            (input)="onChangeMKB(dijagnozaCtrl.value.mkbSifraSekundarna,i)">
                                    </td>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-danger"
                                            (click)="onDeleteDiagnosis(i)"
                                            style="margin-right:50px;">X</button>
                                    </td>
                            </ng-container>
                        </tr>
                        <tr>
                            <td></td>
                            <!--BUTTON JE DISABLED AKO DIJAGNOZE NISU ISPRAVNE-->
                            <td colspan="3">
                                <button
                                    type="button"
                                    class="btn btn-info"
                                    (click)="onAddDiagnosis()"
                                    [disabled]="sekundarnaDijagnoza.errors?.duplikat ||
                                            forma.errors?.primarnaJeIstaKaoSekundarna ||
                                            !primarnaDijagnoza.value">Dodaj sekunardnu dijagnozu</button></td>
                        </tr>
                        <tr formGroupName="zdravstvenaDjelatnost">
                            <td>
                                <label for="zdravstvenaDjelatnost"
                                    style="margin-top:8px;
                                        font-family: Verdana, sans-serif;">Zdravstvena djelatnost:</label>
                            </td>
                            <td colspan="3">
                                <select
                                    class="form-control"
                                    style="width:350px;height:35px;float:left"
                                    formControlName="nazivZdrDjel">
                                    <option [ngValue]="null" [disabled]="true">Odaberite zdravstvenu djelatnost</option>
                                    <option *ngFor="let djelatnost of zdravstveneDjelatnosti" value="{{djelatnost.nazivDjelatnosti}}">{{djelatnost.nazivDjelatnosti}}</option>
                                </select>
                                <input
                                    type="text"
                                    formControlName="sifZdrDjel"
                                    class="form-control"
                                    placeholder="Šifra djelatnosti"
                                    style="width:250px;display:inline;margin-left:30px;">
                                <span
                                    class="help-block"
                                    *ngIf="(nazivZdrDjel.touched || nazivZdrDjel.dirty) && !nazivZdrDjel.valid"
                                    style="font-weight: bold;font-family: Verdana, sans-serif;">
                                    <span
                                        *ngIf="nazivZdrDjel.errors?.required">Naziv zdravstvene djelatnosti je obvezan za unos!</span>
                                    <span
                                        *ngIf="nazivZdrDjel.errors?.neispravanNazivZdrDjelatnosti &&
                                              !nazivZdrDjel.errors?.required">Neispravan unos naziva zdr. djelatnosti!</span>
                                </span>
                                <span
                                    class="help-block"
                                    *ngIf="(sifZdrDjel.touched || sifZdrDjel.dirty) && !sifZdrDjel.valid"
                                    style="font-weight: bold;font-family: Verdana, sans-serif;display:block;">
                                    <span
                                        *ngIf="sifZdrDjel.errors?.required">Šifra zdravstvene djelatnosti je obvezna za unos!</span>
                                    <span
                                        *ngIf="sifZdrDjel.errors?.pattern && !sifZdrDjel.errors?.required">Samo pozitivne cjelobrojne vrijednosti su dozvoljene!</span>
                                    <span
                                        *ngIf="sifZdrDjel.errors?.neispravnaSifraZdrDjelatnosti &&
                                              !sifZdrDjel.errors?.required &&
                                              !sifZdrDjel.errors?.pattern">Neispravan unos šifre zdr. djelatnosti!</span>
                                </span>
                            </td>
                      </tr>
                      <tr formGroupName="zdravstvenaUstanova">
                          <td>
                              <label for="zdravstvenaUstanova"
                                  style="margin-top:8px;
                                      font-family: Verdana, sans-serif;">Zdravstvena ustanova:</label>
                          </td>
                          <td colspan="3">
                              <select
                                  class="form-control"
                                  style="width:350px;height:35px;float:left"
                                  formControlName="nazivZdrUst">
                                  <option [ngValue]="null" [disabled]="true">Odaberite zdravstvenu ustanovu</option>
                                  <option *ngFor="let ustanova of zdravstveneUstanove" value="{{ustanova.naziv}}">{{ustanova.naziv}}</option>
                              </select>
                              <input
                                  type="text"
                                  formControlName="sifZdrUst"
                                  class="form-control"
                                  placeholder="Šifra zdravstvene ustanove"
                                  style="width:250px;display:inline;margin-left:30px;">
                              <span
                                  class="help-block"
                                  *ngIf="(nazivZdrUst.touched || nazivZdrUst.dirty) && !nazivZdrUst.valid"
                                  style="font-weight: bold;font-family: Verdana, sans-serif;">
                                  <span
                                      *ngIf="nazivZdrUst.errors?.neispravanNazivZdrUstanova">Neispravan unos naziva zdr. ustanove!</span>
                              </span>
                              <span
                                  class="help-block"
                                  *ngIf="sifZdrUst.value"
                                  style="font-weight: bold;font-family: Verdana, sans-serif;display:block;">
                                  <span
                                      *ngIf="sifZdrUst.errors?.pattern">Samo pozitivne cjelobrojne vrijednosti su dozvoljene!</span>
                                  <span
                                      *ngIf="sifZdrUst.errors?.neispravnaSifraZdrUstanova &&
                                            !sifZdrUst.errors?.pattern">Neispravan unos šifre zdr. ustanove!</span>
                              </span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <label for="vrstaPregled"
                                  style="margin-top:8px;
                                      font-family: Verdana, sans-serif;
                                      float:right;margin-right:50px;">Vrsta pregleda:</label>
                          </td>
                          <td colspan="3">
                              <select
                                  class="form-control"
                                  style="width:350px;height:35px"
                                  formControlName="vrstaPregled">
                                  <option [ngValue]="null" [disabled]="true">Odaberite vrstu pregleda</option>
                                  <option *ngFor="let pregled of vrstePregleda" value="{{pregled}}">{{pregled}}</option>
                              </select>
                          </td>
                      </tr>
                      <tr formGroupName="specijalist">
                          <td>
                              <input
                                  type="checkbox"
                                  class="form-check-input"
                                  formControlName="isPreporukaSpecijalist"
                                  (change)="onChangeSpecijalist($event)">
                              <label
                                  class="form-check-label"
                                  for="isPreporukaSpecijalist"
                                  style="left:20px;position: relative;font-family: Verdana, sans-serif">Preporučio specijalist</label>
                          </td>
                          <td colspan="3">
                              <ng-container *ngIf="isSpecijalist">
                                  <label
                                      for="sifraSpecijalist"
                                      style="margin-top:6px;font-family: Verdana, sans-serif;float:left;margin-top:2px;">Šifra specijalista:</label>
                                  <input
                                      type="text"
                                      class="form-control"
                                      formControlName="sifraSpecijalist"
                                      placeholder="Šifra specijalista..."
                                      style="width:200px;height:35px;
                                          margin-top:-4px;left:10px;position: relative;float:left;">
                                  <input
                                      type="text"
                                      class="form-control"
                                      formControlName="tipSpecijalist"
                                      placeholder="Naziv tipa specijalista..."
                                      style="width:250px;height:35px;margin-top:-4px;left:40px;position:relative;"
                                      readonly>
                                  <span
                                    class="help-block"
                                    *ngIf="sifraSpecijalist.errors?.requiredSpecijalist"
                                    style="font-family: Verdana, sans-serif;font-weight: bold;left:150px;position:relative">Morate unijeti šifru specijalista!</span>
                                  <span
                                      class="help-block"
                                      *ngIf="sifraSpecijalist.errors?.pattern"
                                      style="font-family: Verdana, sans-serif;font-weight: bold;left:150px;position:relative">Šifra specijalista mora biti pozitivna cjelobrojna vrijednost!</span>
                                  <span
                                      class="help-block"
                                      *ngIf="sifraSpecijalist.errors?.neispravnaSifraSpecijalista &&
                                          !sifraSpecijalist.errors?.pattern &&
                                          !sifraSpecijalist.errors?.requiredSpecijalist"
                                      style="font-family: Verdana, sans-serif;font-weight: bold;left:150px;position:relative">Neispravan unos šifre specijalista!</span>
                              </ng-container>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <label for="molimTraziSe"
                                  style="margin-top:8px;
                                      font-family: Verdana, sans-serif;
                                      float:right;margin-right:50px;">Molim traži se:</label>
                          </td>
                          <td colspan="3">
                              <textarea
                                  rows="2"
                                  class="form-control"
                                  formControlName="molimTraziSe"></textarea>
                              <span
                                  class="help-block"
                                  *ngIf="(molimTraziSe.touched || molimTraziSe.dirty) && !molimTraziSe.valid"
                                  style="font-weight: bold;font-family: Verdana, sans-serif;">
                                  <span
                                      *ngIf="molimTraziSe.errors?.required">"Molim - Traži se" je obvezno za unos!</span>
                              </span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <label for="napomena"
                                  style="margin-top:8px;
                                      font-family: Verdana, sans-serif;
                                      float:right;margin-right:50px;">Napomena liječnika:</label>
                          </td>
                          <td colspan="3">
                              <textarea
                                  rows="2"
                                  class="form-control"
                                  formControlName="napomena"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="2">
                              <button
                                  type="submit"
                                  [disabled]="!forma.valid"
                                  class="btn btn-info"
                                  style="float:right;right:200px;position:relative">Izdaj uputnicu</button>
                          </td>
                          <td colspan="2">
                              <h4
                                  style="text-align: right;color:#006600;
                                  font-family: Verdana, sans-serif;font-weight: bold;"
                                  *ngIf="forma.valid">Uputnica je spremna za unos!</h4>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="alert-box-actions">
        <button
            type="button"
            class="btn btn-primary"
            (click)="onClose()">Izađi</button>
    </div>
</div>
