.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}
.alert-box{
    position:fixed;
    top:10vh;
    left: 20vw;
    width: 62vw;
    height:35vw;
    overflow-y: scroll;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius: 7px;
}

.alert-box-actions{
    text-align:right;
}
th, td {
    font-family: Verdana, sans-serif;
}

th{
    color:#337ab7;
}

h3{
    text-align: center;
    color: #337ab7;
    font-weight: bold;
}

p{
    display:inline;
}

.nema_sek{
    color:#a94442;
}

input{
    width:350px;
}

.button_povezi{
    float:right;
}
