<div class="row">
    <div class="col-xs-12">
        <ul class="list-group flex-md-row">
            <li     
                class="list-group-item clearfix" 
                *ngFor="let nalaz of nalazi" 
                routerLinkActive="active" 
                [routerLink]="[nalaz.idNalaz]">
                <div class="pull-left">
                    <h5 
                        style="font-family: Verdana, sans-serif;">{{nalaz.datumNalaz}}</h5>
                    <br>
                    <h5 
                        style="font-family: Verdana, sans-serif;">{{nalaz.nazivZdrUst + ' [' + nalaz.idZdrUst + ']'}}</h5>
                    <h5 
                        style="font-family: Verdana, sans-serif;">{{nalaz.nazivPrimarna + ' [' + nalaz.mkbSifraPrimarna + ']'}}</h5>
                </div> 
            </li>
        </ul>
    </div>
</div>