ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}

li {
    cursor: pointer;
    border-radius: 7px;
    background-color: #b8daff;
    margin-right:5px;
    margin-bottom: 5px;
    height:200px;
    width:275px;
    flex: 0 0 24%;
}
