<app-uzorci
    (close)="onCloseUzorci()"
    *ngIf="isUzorci"
    [primljeniUzorci]="poslaniUzorci"
    [referentneVrijednosti]="referentneVrijednosti"></app-uzorci>
<app-alert
    [message]="porukaAlert"
    *ngIf="response"
    (close)="onCloseAlert()"></app-alert>
<div class="row">
    <div class="col-xs-12">
        <mat-card *ngIf="nalazi.length > 0">
            <mat-card
                *ngFor="let nalaz of nalazi;let i = index"
                routerLinkActive="active"
                [routerLink]="[nalaz.idNalaz]"
                class="unutarnji"
                [ngStyle]="{'margin-top': (i > 3) ? '7px' : '0px'}">
                <mat-card-subtitle
                    style="height:30px;">{{nalaz.datumNalaz}}</mat-card-subtitle>
                <button
                    mat-raised-button
                    class="pogledajUzorke"
                    (click)="onPogledajUzorke(nalaz.idNalaz,$event)"
                    style="float:right;top:-5px;left:20px;position:relative;"
                    *ngIf="!nalaz.misljenjeSpecijalist">Pogledaj rezultate</button>
                <h4
                    [ngStyle]="{'margin-top': (i > 3) ? '-10px' : '0px'}">{{nalaz.nazivZdrUst + ' [' + nalaz.idZdrUst + ']'}}</h4>
                <h3
                    class="mat-body-strong"
                    [ngStyle]="{'margin-top' : (i > 3) ? '-20px' : '0px'}">{{nalaz.nazivPrimarna + ' [' + nalaz.mkbSifraPrimarna + ']'}}</h3>
            </mat-card>
        </mat-card>
    </div>
</div>
<br *ngFor="let broj of pom">
