
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
textarea{
    font-family: Verdana, sans-serif;
    text-align: left;
    resize:none;
}

label{
    margin-left:2px;
    font-family: Verdana, sans-serif;
}

#a_povezi {
    color:#337ab7;
    cursor: pointer;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    float:right;
}

#a_ponisti_povezani_slucaj{
    color:#337ab7;
    cursor: pointer;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    margin-left:50px;
}

select {
    width:350px;
    height:35px;
}

input[type="text"] {
    width:100px;
    height:35px;
}

h4{
    color:#006600;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.potvrdi_povijest_bolesti{
    left:250px;
    position:relative;
}

mat-error{
    display: block;
}

.div_dodaj_sekundarnu{
    left:250px;
    position: relative;
}

