<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="forma">
            <div class="row">
                <div class="col-xs-4">
                    <label 
                        for="filter" 
                        style="font-family: Verdana, sans-serif;">Filtriraj po:</label>
                    <select 
                        formControlName="filter" 
                        class="form-control" 
                        style="width:200px;display:inline;margin-left:5px;" 
                        (change)="onChangeFilter($event)">
                        <option value="datum">Datum</option>
                        <option value="pretraga">Pretraga</option>
                    </select> 
                </div>
                <div class="col-xs-8">
                    <ng-container *ngIf="isDatum">
                        <label 
                            for="datum"
                            style="font-family: Verdana, sans-serif;">Datum:</label>
                        <input 
                            type="date" 
                            class="form-control" 
                            formControlName="datum"
                            style="width:200px;display: inline;margin-left:5px;">
                    </ng-container>
                    <ng-container *ngIf="!isDatum">
                        <label 
                            for="datum"
                            style="font-family: Verdana, sans-serif;">Pretraga:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="pretraga"
                            style="width:300px;display: inline;margin-left:5px;" 
                            placeholder="Unesite parametar pretrage...">
                    </ng-container>
                </div>
            </div>  
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-4">
        <app-pregledi-list 
            [pregledi]="pregledi"></app-pregledi-list>
    </div>
    <div class="col-xs-8">
        <router-outlet></router-outlet>
    </div>
</div>