<div class="container">
    <div class="row">
        <!--Prikaziva se prozor sa pogreškom ako ima errora-->
        <app-alert
            *ngIf="response"
            [message]="responsePoruka"
            (close)="onClose()"
            #childAlert></app-alert>
        <!--Prikaziva se prozor sa tablicom pacijenata-->
        <app-pretraga-pacijent
            *ngIf="isPretraga && !response"
            (close)="onCloseTablica()"
            (dodaj)="onAzurirajStanje()"></app-pretraga-pacijent>
        <app-detalji-pregleda
            *ngIf="isDetaljiPregleda"
            (close)="onCloseDetaljiPregleda()"></app-detalji-pregleda>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 center_div">
            <h2
                style="text-align: center;
                    font-family:Verdana, sans-serif;
                    color:#337ab7;">Popis pacijenata u čekaonici</h2>
            <form
                (ngSubmit)="onSubmit()"
                [formGroup]="forma"
                class="form-inline">
                <div class="form-group">
                    <input
                        type="text"
                        name="ime"
                        placeholder="Unesite ime..."
                        class="form-control"
                        style="width:200px;"
                        formControlName="ime">
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        name="prezime"
                        placeholder="Unesite prezime..."
                        class="form-control"
                        style="width:200px;margin-left:7px;"
                        formControlName="prezime">
                </div>
                <div class="form-group">
                    <button
                        type="submit"
                        class="btn btn-info"
                        style="cursor: pointer;"
                        style="width:100px;height:34px;margin-left:7px;"
                        [disabled]="!forma.valid">Pretraži</button>
                </div>
                <span *ngIf="(forma.touched || forma.dirty) && !forma.valid" class="help-block">
                    <span *ngIf="forma.hasError('error')" style="font-weight: bold;">Morate unijeti barem jedno od polja!</span>
                </span>
            </form>
        </div>
    </div>
    <div
        class="row"
        style="margin-top:20px;">
        <div class="col-xs-12 col-md-12" *ngIf="!isPrazna">
            <div class="text-center">
                <div class="form-check form-check-inline" *ngFor="let control of getControlsStatusi(); let i = index">
                    <input type="checkbox"  class="form-check-input" [formControl]="control" id="inlineCheckBox{{i}}" (change)="getSelectedStatusValues()">
                    <label
                        class="form-check-label"
                        for="inlineCheckBox{{i}}"
                        style="font-family: Verdana, sans-serif;">{{statusi[i]}}</label>
                </div>
            </div>
            <h4
                style="font-family:Verdana, sans-serif;
                    color:#337ab7;">Tablica pacijenata</h4>
            <button type="button" class="btn btn-info" style="float: right;margin-top:-30px;" (click)="prikazi10zadnjih()">Prikaži 10 zadnjih</button>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Odgovorna osoba</th>
                            <th scope="col">Ime</th>
                            <th scope="col">Prezime</th>
                            <th scope="col">Datum dodavanja</th>
                            <th scope="col">Vrijeme dodavanja</th>
                            <th scope="col">Status</th>
                            <th scope="col">Akcija</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let pacijent of pacijenti;let i = index"
                            [ngStyle]="{'border-top': i+1 === brojRetka ? '2px solid #337ab7' : '1px solid transparent'}">
                            <!--Ako je liječnik prijavljen i liječnik je dodao ovaj redak == "Vi".-->
                            <!--Ako je medicinska sestra prijavljena i medicinska sestra je dodala ovaj redak == "Vi"-->
                            <!--Inače ispiši pravo ime liječnika/medicinske sestre-->
                            <td>{{ (isLijecnik && pacijent.tipKorisnik === 'lijecnik') ? "Vi" : (isMedSestra && pacijent.tipKorisnik === 'sestra') ? "Vi" : pacijent.odgovornaOsoba }}</td>
                            <td>{{pacijent.imePacijent}}</td>
                            <td>{{pacijent.prezPacijent}}</td>
                            <td>{{pacijent.datumDodavanja}}</td>
                            <td>{{pacijent.vrijemeDodavanja}}</td>
                            <td>{{pacijent.status}}</td>
                            <td><button
                                    type="button"
                                    class="btn btn-primary btn-sm"
                                    (click)="onDodajObrada(pacijent.idPacijent)"
                                    [disabled]="(pacijent.status != 'Čeka na pregled') || (tipKorisnik !== pacijent.tipKorisnik)"
                                    *ngIf="pacijent.status === 'Čeka na pregled' || pacijent.status === 'Na pregledu'">Dodaj u obradu</button>
                                <button
                                    type="button"
                                    class="btn btn-primary btn-sm"
                                    (click)="onOtvoriDetalje(pacijent.idObrada,pacijent.tipKorisnik)"
                                    *ngIf="pacijent.status === 'Završen pregled'">Pogledaj detalje pregleda</button>
                                || <button
                                        type="button"
                                        class="btn btn-danger btn-sm"
                                        [disabled]="tipKorisnik !== pacijent.tipKorisnik"
                                        (click)="onGetTableData(
                                                    pacijent.idCekaonica,
                                                    i,
                                                    pacijent.imePacijent,
                                                    pacijent.prezPacijent,
                                                    pacijent.datumDodavanja,
                                                    pacijent.vrijemeDodavanja,
                                                    pacijent.status,
                                                    pacijent.tipKorisnik)"
                                        >Izbriši iz čekaonice</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-md-12" *ngIf="isPrazna">
            <h2 style="text-align: center;color:#a94442">Čekaonica je prazna!</h2>
        </div>
    </div>
</div>
