<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <h3>Povežite povijest bolesti</h3>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form [formGroup]="forma" *ngIf="forma">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control input_pretraga"
                        placeholder="Unesite parametar pretrage..."
                        formControlName="parametar">
                    <mat-error *ngIf="porukaPovijestBolestiPretraga">{{porukaPovijestBolestiPretraga}}</mat-error>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
        <form [formGroup]="glavnaForma" *ngIf="!porukaPovijestBolestiPretraga">
            <!--AKO JE PACIJENT AKTIVAN U OBRADI-->
            <div class="table-responsive-sm">
                <table class="table">
                    <tbody>
                        <div formArrayName="povijestBolesti" *ngFor="let control of getControls();let i = index">
                            <div [formGroupName]="i">
                                <!--Prikaži ovaj red samo ako je godina jedinstvena-->
                                <tr *ngIf="control.value.godina !== null">
                                    <td class="td_godina">
                                        <input
                                            type="text"
                                            formControlName="godina"
                                            class="input_godina"
                                            readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!--Button je disabled ako se ID trenutnog pregleda nalazi negdje u prošlom pregledu drugog pregleda-->
                                        <button
                                            type="button"
                                            class="btn btn-warning"
                                            (click)="poveziPovijestBolesti(
                                                  control.value.datum,
                                                  control.value.razlogDolaska,
                                                  control.value.primarnaDijagnoza,
                                                  control.value.anamneza,
                                                  control.value.vrijeme,
                                                  control.value.slucaj)"
                                            [disabled]="control.value.prosliPregled !== 0">Poveži</button>
                                        <h4>{{control.value.slucaj === 'noviSlucaj' ? 'Novi slučaj' : 'Povezan slučaj'}}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Datum: </strong>
                                        <input
                                            type="text"
                                            formControlName="datum"
                                            class="input_datum"
                                            readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong>Razlog dolaska: </strong></p>
                                        <textarea
                                            type="text"
                                            formControlName="razlogDolaska"
                                            readonly
                                            rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong>Anamneza: </strong></p>
                                        <textarea
                                            type="text"
                                            formControlName="anamneza"
                                            readonly
                                            rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong>Primarna dijagnoza: </strong></p>
                                        <textarea
                                            rows="2"
                                            formControlName="primarnaDijagnoza"
                                            readonly></textarea>
                                    </td>
                                </tr>
                                <tr class="border_bottom">
                                  <td>
                                      <p
                                          *ngIf="control.value.sekundarneDijagnoze"><strong>Sekundarne dijagnoze:</strong></p>
                                      <p
                                          *ngIf="!control.value.sekundarneDijagnoze"><strong class="nema_sekundarnih">Nema sekundarnih dijagnoza!</strong></p>
                                      <textarea
                                          formControlName="sekundarneDijagnoze"
                                          readonly
                                          rows="4"
                                          *ngIf="control.value.sekundarneDijagnoze"></textarea>
                                  </td>
                              </tr>
                            </div>
                        </div>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="alert-box-actions">
        <button class="btn btn-primary" (click)="onClose()">Izađi</button>
    </div>
</div>
