<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box" id="alert-box">
    <h3 style="text-align: center;color: #337ab7;font-weight: bold;">Povežite povijest bolesti</h3>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form [formGroup]="forma" *ngIf="forma && isPovijestBolesti">
                <div class="form-group">
                    <input 
                        type="text"
                        class="form-control"
                        placeholder="Unesite parametar pretrage..." 
                        formControlName="parametar"
                        style="width:350px;">
                    <span class="help-block" *ngIf="porukaPovijestBolestiPretraga">{{porukaPovijestBolestiPretraga}}</span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
        <form [formGroup]="glavnaForma" *ngIf="isPovijestBolesti && !porukaPovijestBolestiPretraga">
            <!--AKO JE PACIJENT AKTIVAN U OBRADI-->
            <div class="table-responsive-sm">
                <table class="table">
                    <tbody>
                        <div formArrayName="povijestBolesti" *ngFor="let control of getControls();let i = index">
                            <div [formGroupName]="i">
                                <!--Prikaži ovaj red samo ako je godina jedinstvena-->
                                <tr *ngIf="control.value.godina !== null">
                                    <td style="background-color: #337ab7;">
                                        <input 
                                            type="text"
                                            formControlName="godina"
                                            style="border:0;background-color:#337ab7;
                                            width:700px;height:15px;font-weight: bold;text-align: center; 
                                            font-family: Verdana, sans-serif;" 
                                            readonly>
                                    </td> 
                                </tr>
                                <tr>
                                    <td>
                                        <button 
                                            type="button"
                                            class="btn btn-warning" 
                                            (click)="poveziPovijestBolesti(control.value.datum,control.value.razlogDolaska,
                                                    control.value.mkbSifraPrimarna,control.value.vrijeme,control.value.slucaj)">Poveži</button>
                                        <h4 
                                            style="float:right;color:#337ab7; 
                                            font-weight: bold;right:10px;position:relative">{{control.value.slucaj === 'noviSlucaj' ? 'Novi slučaj' : 'Povezan slučaj'}}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong style="font-family:Verdana, sans-serif">Datum: </strong>
                                        <input 
                                            type="text"
                                            formControlName="datum"
                                            style="border:0;width:630px;height:20px; 
                                            font-family: Verdana, sans-serif;" 
                                            readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong style="font-family:Verdana, sans-serif">Razlog dolaska: </strong></p>
                                        <textarea 
                                            type="text"
                                            formControlName="razlogDolaska"
                                            readonly 
                                            rows="3" 
                                            style="width:700px"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong style="font-family:Verdana, sans-serif">Anamneza: </strong></p>
                                        <textarea 
                                            type="text"
                                            formControlName="anamneza"
                                            readonly 
                                            rows="3" 
                                            style="width:700px"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong style="font-family:Verdana, sans-serif">Primarna dijagnoza: </strong></p>
                                        <textarea 
                                            rows="2"
                                            formControlName="primarnaDijagnoza"
                                            style="width:700px" 
                                            readonly></textarea>
                                    </td>
                                </tr>
                                <tr class="border_bottom" formArrayName="sekundarneDijagnoze" *ngFor="let sekundarna of getControlsSekundarna(i);let j = index">
                                    <td>
                                        <p 
                                            style="font-family: Verdana, sans-serif;" 
                                            *ngIf="sekundarna.value != ''"><strong>Sekundarne dijagnoze:</strong></p>
                                        <p 
                                            style="font-family: Verdana, sans-serif;" 
                                            *ngIf="sekundarna.value == ''"><strong style="color:#a94442">Nema sekundarnih dijagnoza!</strong></p>
                                        <textarea
                                            type="text"
                                            [formControlName]="j"
                                            style="border:0;width:400px;resize:none;margin-left:200px;
                                            margin-top:-30px;font-family: Verdana, sans-serif" 
                                            readonly 
                                            *ngIf="sekundarna.value != ''" 
                                            rows="4"></textarea>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <!--AKO PACIJENT NIJE AKTIVAN U OBRADI-->
    <div *ngIf="!isAktivan">
        <h3 style="text-align: center;color:#a94442;">{{porukaAktivan}}</h3>
    </div>
    <div *ngIf="!isPovijestBolesti">
        <h3 style="text-align: center;color:#a94442;">{{porukaPovijestBolesti}}</h3>
    </div>
    <div class="alert-box-actions">
        <button class="btn btn-primary" (click)="onClose()">Izađi</button>
    </div>
</div>