.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}
.alert-box{
    position:fixed;
    top:10vh;
    left: 30vw;
    width: 40vw;
    height:40vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    overflow-y:scroll;
}

.alert-box-actions{
    text-align:right;
}
table td{
    padding:5px;
    margin:5px;
    position: relative;
}
textarea{
    border:0;
    width:100%;
    font-family: Verdana, sans-serif;
    resize:none;
}

.border_bottom{
    border-bottom:1px solid black;
}

h3{
    text-align: center;
    color: #337ab7;
    font-weight: bold;
}

.input_godina {
    border:0;
    background-color:#337ab7;
    width:700px;
    height:15px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h4{
    float:right;
    color:#337ab7;
    font-weight: bold;
    right:10px;
    position:relative;
}

.input_datum {
    border:0;
    width:630px;
    height:20px;
    font-family: Verdana, sans-serif;
}

strong{
    font-family:Verdana, sans-serif;
}

.nema_sekundarnih {
    color:#a94442;
}

