<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form
            (ngSubmit)="onSubmit()"
            [formGroup]="forma"
            *ngIf="forma">
            <div class="form-group">
                <label
                    for="email">Email</label>
                <input
                    type="email"
                    name="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Email">
                <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                <mat-error
                    *ngIf="(email.touched || email.dirty) && !email.valid">
                    <mat-error *ngIf="email.errors?.required">Unos email-a je obvezan za unos!</mat-error>
                    <mat-error *ngIf="email.errors?.email && !email.errors?.required">Neispravan format email-a!</mat-error>
                    <mat-error
                        *ngIf="email.errors?.neispravanEmail && !email.errors?.required && !email.errors?.email">Email nije registriran!</mat-error>
                </mat-error>
            </div>
            <div class="form-group">
                <label
                    for="lozinka">Lozinka</label>
                <input
                    type="password"
                    name="lozinka"
                    class="form-control"
                    formControlName="password"
                    placeholder="Lozinka">
                <mat-error
                    *ngIf="(password.touched || password.dirty) && !password.valid">
                    <mat-error
                        *ngIf="password.errors?.required">Unos lozinke je obvezan za unos!</mat-error>
                </mat-error>
                <mat-error
                    *ngIf="(password.touched || password.dirty) && !password.valid">
                    <mat-error
                        *ngIf="password.errors?.neispravnaLozinka && !password.errors?.required">Lozinka je neispravna!</mat-error>
                </mat-error>
            </div>
            <div>
                <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!forma.valid">Prijava</button>
                <h4
                    *ngIf="forma.valid">Podatci su ispravni!</h4>
            </div>
        </form>
    </div>
</div>
