<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="row">
        <div class="col-xs-12">
            <h5>Zdravstvena djelatnost:
                <strong>
                    {{uputnica.zdravstvenaDjelatnost}}</strong>
            </h5>
            <h5
                *ngIf="uputnica.zdravstvenaUstanova">Zdravstvena ustanova:
                <strong>
                    {{uputnica.zdravstvenaUstanova}}</strong>
            </h5>
            <h5>Vrsta pregleda:
                <strong>
                    {{uputnica.vrstaPregled}}</strong>
            </h5>
            <h5
                *ngIf="uputnica.specijalist">Specijalist koji je preporučio izdavanje uputnice:
                <strong>
                    {{uputnica.specijalist}}</strong>
            </h5>
            <h5>Molim - Traži se:
                <strong>
                    {{uputnica.molimTraziSe}}</strong>
            </h5>
            <h5
                *ngIf="uputnica.napomena">Napomena:
                <strong>
                    {{uputnica.napomena}}</strong>
            </h5>
            <h5
                *ngIf="uputnica.iznosUputnica">Iznos uputnice:
                <strong>
                    {{oznaka ? uputnica.iznosUputnica + ' kn' : uputnica.iznosUputnica}}</strong>
            </h5>
        </div>
    </div>
    <div class="alert-box-actions" #alertBoxActions>
        <button class="btn btn-primary" (click)="onClose()">Izađi</button>
    </div>
</div>
