<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="row">
        <div class="col-xs-12">
            <h5
                style="font-family: Verdana, sans-serif;">Naziv proizvoda:
                <strong style="color:#337ab7">
                    {{recept.oblikJacinaPakiranjeLijek ? recept.proizvod + ' ' + recept.oblikJacinaPakiranjeLijek : recept.proizvod}}</strong>
            </h5>
            <h5
                style="font-family: Verdana, sans-serif;">Količina:
                <strong style="color:#337ab7">
                    {{recept.kolicina}}</strong>
            </h5>
            <h5
                style="font-family: Verdana, sans-serif;">Doziranje:
                <strong style="color:#337ab7">
                    {{recept.doziranje}}</strong>
            </h5>
            <h5
                style="font-family: Verdana, sans-serif;">Dostatnost:
                <strong style="color:#337ab7">
                    {{recept.dostatnost + ' dana'}}</strong>
            </h5>
            <h5
                style="font-family: Verdana, sans-serif;">Hitnost:
                <strong style="color:#337ab7">
                    {{recept.hitnost === 'hitno' ? 'Da' : 'Ne'}}</strong>
            </h5>
            <h5
                style="font-family: Verdana, sans-serif;">Tip recepta:
                <strong style="color:#337ab7">
                    {{recept.ponovljivost === 'obican' ? 'Običan recept' : 'Ponovljiv recept'}}</strong>
            </h5>
            <h5
                style="font-family: Verdana, sans-serif;"
                *ngIf="recept.brojPonavljanja">Broj ponavljanja:
                <strong style="color:#337ab7">
                    {{recept.brojPonavljanja +  ' ponavljanja'}}</strong>
            </h5>
            <h5
                style="font-family: Verdana, sans-serif;"
                *ngIf="recept.cijeliSpecijalist">Specijalist koji je preporučio izdavanje recepta:
                <strong style="color:#337ab7">
                    {{recept.cijeliSpecijalist}}</strong>
            </h5>
            <h5
                style="font-family: Verdana, sans-serif;"
                *ngIf="recept.iznosRecept">Iznos recepta:
                <strong style="color:#337ab7">
                    {{recept.iznosRecept}}</strong>
            </h5>
        </div>
    </div>
    <div class="alert-box-actions" #alertBoxActions>
        <button class="btn btn-primary" (click)="onClose()">Izađi</button>
    </div>
</div>
