<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="row">
        <div class="col-xs-12">
            <h5>Naziv proizvoda:
                <strong>
                    {{recept.oblikJacinaPakiranjeLijek ? recept.proizvod + ' ' + recept.oblikJacinaPakiranjeLijek : recept.proizvod}}</strong>
            </h5>
            <h5>Količina:
                <strong>
                    {{recept.kolicina}}</strong>
            </h5>
            <h5>Doziranje:
                <strong>
                    {{recept.doziranje}}</strong>
            </h5>
            <h5>Dostatnost:
                <strong>
                    {{recept.dostatnost + ' dana'}}</strong>
            </h5>
            <h5>Hitnost:
                <strong>
                    {{recept.hitnost === 'hitno' ? 'Da' : 'Ne'}}</strong>
            </h5>
            <h5>Tip recepta:
                <strong>
                    {{recept.ponovljivost === 'obican' ? 'Običan recept' : 'Ponovljiv recept'}}</strong>
            </h5>
            <h5
                *ngIf="recept.brojPonavljanja">Broj ponavljanja:
                <strong>
                    {{recept.brojPonavljanja +  ' ponavljanja'}}</strong>
            </h5>
            <h5
                *ngIf="recept.cijeliSpecijalist">Specijalist koji je preporučio izdavanje recepta:
                <strong>
                    {{recept.cijeliSpecijalist}}</strong>
            </h5>
            <h5
                *ngIf="recept.iznosRecept">Iznos recepta:
                <strong>
                    {{oznaka ? recept.iznosRecept + ' kn' : recept.iznosRecept}}</strong>
            </h5>
        </div>
    </div>
    <div class="alert-box-actions" #alertBoxActions>
        <button class="btn btn-primary" (click)="onClose()">Izađi</button>
    </div>
</div>
