.backdrop{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;
}
.alert-box{
  position:fixed;
  top:5vh;
  left: 25vw;
  width: 50vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  border-radius: 7px;
  overflow-y:auto;
  overflow-x:hidden;
}

.alert-box-actions{
  text-align:right;
}

.ustanovaField{
    width:100%;
}

mat-card-header{
    margin-top:5px;
}

.h3_naslov{
    font-family: Verdana, sans-serif;
    text-align: center;
    color:#337ab7;
}

.div_glavni{
    display:flex;
}

.div_glavni__mat-card_slanje{
    flex: 1 1 auto;
    max-width: 50%;
}

.mat-card__podatci_uputnice{
    flex: 1 1 auto;
}

.h3_podatci_uputnice{
    text-align: center;
}

.button_spremi{
    float:left;
}

.div_glavni__mat-card_rezultati{
    width:24%;
    margin-left:5px;
}

.div_glavni__mat-form-field{
    display:block;
}

.input_rezultati{
    font-weight: bold;
}

.input_rezultati_dodatno{
    text-align:center;
}



