.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}
.alert-box{
    position:fixed;
    top:10vh;
    left: 25vw;
    width: 50vw;
    height:40vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    overflow-y:auto;
    overflow-x:hidden;
    border-radius:7px;
}

.alert-box-actions{
    text-align:right;
}
span{
    color:#a94442;
    font-weight: bold;
}
table td{
    padding:5px;
    margin:5px;
    position: relative;
}
textarea{
    border:0;
    width:100%;
    font-family: Verdana, sans-serif;
    resize:none;
}
.border_bottom{
    border-bottom:2px solid #337ab7;
}
.border_top {
    border-top: 2px solid #337ab7;
}
