<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <h3>Detalji pregleda</h3>
    <app-izdani-recepti
        *ngIf="isIzdaniRecept"
        [recept]="recept"
        (close)="onCloseIzdaniRecept()"></app-izdani-recepti>
    <app-izdane-uputnice
        *ngIf="isIzdanaUputnica"
        [uputnica]="uputnica"
        (close)="onCloseIzdanaUputnica()"></app-izdane-uputnice>
    <div class="col-xs-12 col-md-12">
        <form
            [formGroup]="forma"
            *ngIf="forma">
            <div class="table-responsive-sm">
                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <strong class="strong_tier1">Aktivni pacijent: </strong>
                                <input
                                    type="text"
                                    formControlName="imePrezime"
                                    class="input_osnovni_podatci"
                                    readonly>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <strong class="strong_tier1">Pregled obavljen: </strong>
                                <input
                                    type="text"
                                    formControlName="datumPregled"
                                    class="input_osnovni_podatci"
                                    readonly>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                              <strong class="strong_tier1">Ukupni iznos pregleda: </strong>
                              <input
                                  type="text"
                                  formControlName="ukupnaCijenaPregled"
                                  class="input_osnovni_podatci"
                                  readonly>
                            </td>
                        </tr>
                        <tr *ngIf="isDodanBMI">
                            <td colspan="3">
                              <strong class="strong_tier1">BMI: </strong>
                              <input
                                  type="text"
                                  formControlName="bmi"
                                  class="input_osnovni_podatci"
                                  readonly>
                            </td>
                        </tr>
                        <tr *ngIf="pregledi.length === 0 && primljeniTipKorisnik === 'sestra'">
                            <td colspan="3">
                                <h4><strong class="strong_tier2">Pacijent nema evidentiranih općih podataka na pregledu!</strong></h4>
                            </td>
                        </tr>
                        <ng-container *ngIf="primljeniTipKorisnik === 'sestra' && pregledi.length > 0">
                            <tr>
                                <td colspan="3">
                                    <h4><strong class="strong_tier1">Opći podatci pregleda</strong></h4>
                                </td>
                            </tr>
                            <ng-container formArrayName="opciPodatci" *ngFor="let control of getControlsOpciPodatci();let i = index">
                                <ng-container [formGroupName]="i">
                                    <tr [ngClass]="(i === 0) ? 'border_top' : ''">
                                       <td colspan="3">
                                            <input
                                                class="input_vrijeme"
                                                formControlName="vrijemePregled"
                                                readonly>
                                            <input
                                                *ngIf="control.value.mboAktivniPacijent !== control.value.pacijent.mboPacijent"
                                                class="input_drugi_pacijent_opci"
                                                formControlName="pacijentTemplate"
                                                readonly>
                                       </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <strong class="strong_tier1">Način plaćanja: </strong>
                                            <input
                                                type="text"
                                                formControlName="nacinPlacanja"
                                                class="input_nacin_placanja"
                                                readonly>
                                        </td>
                                    </tr>
                                    <tr
                                        class="border_bottom"
                                        *ngIf="control.value.primarnaDijagnoza">
                                        <td>
                                            <strong class="strong_tier1">Primarna dijagnoza: </strong>
                                            <textarea
                                                rows="2"
                                                formControlName="primarnaDijagnoza"
                                                class="textarea_primarna"
                                                readonly></textarea>
                                        </td>
                                        <td *ngIf="control.value.sekundarneDijagnoze">
                                            <strong class="strong_tier1">Sekundarne dijagnoze: </strong>
                                            <textarea
                                                readonly
                                                formControlName="sekundarneDijagnoze"
                                                rows="4"
                                                class="textarea_sekundarne_opci"></textarea>
                                        </td>
                                        <td *ngIf="!control.value.sekundarneDijagnoze">
                                            <strong class="strong_tier3">Nema sekundarnih dijagnoza!</strong>
                                            <input
                                                type="text"
                                                readonly
                                                class="input_nema_sek">
                                        </td>
                                    </tr>
                                    <tr
                                        class="border_bottom"
                                        *ngIf="!control.value.primarnaDijagnoza">
                                        <td colspan="3">
                                            <strong class="strong_tier2">Primarna dijagnoza nije unesena!</strong>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr *ngIf="povijestiBolesti.length === 0 && primljeniTipKorisnik === 'lijecnik'">
                            <td colspan="3">
                                <h4><strong class="strong_tier2">Pacijent nema evidentiranu povijest bolesti na pregledu!</strong></h4>
                            </td>
                        </tr>
                        <ng-container *ngIf="primljeniTipKorisnik === 'lijecnik' && povijestiBolesti.length > 0">
                            <tr>
                                <td colspan="3">
                                    <h4>
                                        <strong class="strong_tier1">Povijest bolesti</strong></h4>
                                </td>
                            </tr>
                            <tr *ngIf="povijestiBolesti.length === 0">
                                <td colspan="3">
                                    <strong class="strong_tier2">Nema evidentiranih povijesti bolesti!</strong>
                                </td>
                            </tr>
                            <ng-container formArrayName="povijestBolesti" *ngFor="let control of getControlsPovijestBolesti();let j = index">
                                <ng-container [formGroupName]="j">
                                    <tr [ngClass]="(j === 0) ? 'border_top' : ''">
                                        <td
                                            colspan="3">
                                            <input
                                                class="input_vrijeme"
                                                formControlName="vrijeme"
                                                readonly>
                                            <input
                                                *ngIf="control.value.mboAktivniPacijent !== control.value.pacijent.mboPacijent"
                                                class="input_drugi_pacijent_povijest"
                                                formControlName="pacijentTemplate"
                                                readonly>
                                            <button
                                                type="button"
                                                class="btn btn-warning btn-sm button_recept_uputnica"
                                                *ngIf="control.value.recept.proizvod"
                                                (click)="onIzdaniRecept(control.value.recept)">Izdani recept</button>
                                            <button
                                                *ngIf="control.value.uputnica.zdravstvenaDjelatnost"
                                                type="button"
                                                class="btn btn-success btn-sm button_recept_uputnica"
                                                [ngStyle]="{'margin-right': control.value.recept.proizvod ? '5px' : '0px'}"
                                                (click)="onIzdanaUputnica(control.value.uputnica)">Izdana uputnica</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong class="strong_tier1">Primarna dijagnoza: </strong>
                                            <textarea
                                                rows="2"
                                                formControlName="primarnaDijagnoza"
                                                class="textarea_primarna"
                                                readonly></textarea>
                                        </td>
                                        <td>
                                            <strong
                                                class="strong_tier1"
                                                *ngIf="control.value.sekundarneDijagnoze">Sekundarne dijagnoze: </strong>
                                            <textarea
                                                *ngIf="control.value.sekundarneDijagnoze"
                                                readonly
                                                formControlName="sekundarneDijagnoze"
                                                rows="4"
                                                class="textarea_sekundarne_povijest"></textarea>
                                            <strong
                                                class="strong_tier2"
                                                *ngIf="!control.value.sekundarneDijagnoze">Nema sekundarnih dijagnoza!</strong>
                                            <input
                                                *ngIf="!control.value.sekundarneDijagnoze"
                                                type="text"
                                                readonly
                                                class="input_nema_sek">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <p><strong>Razlog dolaska: </strong></p>
                                            <textarea
                                                formControlName="razlogDolaska"
                                                readonly
                                                rows="3"
                                                class="textarea_ostalo"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="border_bottom">
                                        <td colspan="3">
                                            <p><strong>Anamneza: </strong></p>
                                            <textarea
                                                formControlName="anamneza"
                                                readonly
                                                rows="3"
                                                class="textarea_ostalo"></textarea>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="alert-box-actions">
        <button
            class="btn btn-primary button_izadi"
            (click)="onClose()">Izađi</button>
    </div>
</div>
