.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}
.alert-box{
    position:fixed;
    top:10vh;
    left: 25vw;
    width: 50vw;
    height:40vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    overflow-y:auto;
    overflow-x:hidden;
    border-radius:7px;
}

.alert-box-actions{
    text-align:right;
}
table td{
    padding:5px;
    margin:5px;
    position: relative;
}
textarea{
    border:0;
    width:100%;
    font-family: Verdana, sans-serif;
    resize:none;
}
.border_bottom{
    border-bottom:2px solid #337ab7;
}
.border_top {
    border-top: 2px solid #337ab7;
}

h3{
    text-align: center;
    color:#337ab7;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

.strong_tier1{
    font-family: Verdana, sans-serif;
}

.strong_tier2{
    font-family: Verdana, sans-serif;
    color:#a94442;
}

.strong_tier3{
    font-family: Verdana, sans-serif;
    color:#a94442;
    margin-left:40px;
}

.input_osnovni_podatci{
    border:0;
    width:60%;
    height:30px;
    font-family: Verdana, sans-serif;
}

.input_vrijeme{
    font-family: Verdana, sans-serif;
    color:#337ab7;
    font-weight: bold;
    border:0;
    width:300px;
    height:35px;
    float:left;
}

.input_drugi_pacijent_opci{
    font-family: Verdana, sans-serif;
    color:#337ab7;
    font-weight: bold;
    border:0;
    width:500px;
    height:35px;
}

.input_drugi_pacijent_povijest{
    font-family: Verdana, sans-serif;
    color:#337ab7;
    font-weight: bold;
    border:0;
    width:300px;
    height:35px;
}

.input_nacin_placanja{
    border:0;
    width:60%;
    height:30px;
    font-family: Verdana, sans-serif;
}

.input_nema_sek{
    border:0;
    width:40%;
    margin-left:270px;
}

.textarea_primarna{
    border:0;
    width:100%;
    font-family: Verdana, sans-serif;
}

.textarea_sekundarne_opci{
    width:60%;
    margin-left:200px;
    margin-top:-20px;
    overflow-x:hidden;
}

.textarea_sekundarne_povijest{
    width:60%;
    margin-left:200px;
    margin-top:-20px;
}

.textarea_ostalo{
    width:100%;
}

.button_recept_uputnica{
    float:right;
}

.button_izadi{
    right:10px;
    position: relative;
}

p{
    font-family: Verdana, sans-serif;
}
