<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box" #detaljiPregleda>
    <h3 style="text-align: center;
            color:#337ab7;
            font-weight: bold;font-family: Verdana, sans-serif">Detalji pregleda</h3>
    <app-izdani-recepti
        *ngIf="isIzdaniRecept"
        [recept]="recept"
        (close)="onCloseIzdaniRecept()"></app-izdani-recepti>
    <app-izdane-uputnice
        *ngIf="isIzdanaUputnica"
        [uputnica]="uputnica"
        (close)="onCloseIzdanaUputnica()"></app-izdane-uputnice>
    <div class="col-xs-12 col-md-12">
        <form [formGroup]="forma" *ngIf="forma">
            <div class="table-responsive-sm">
                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <strong style="font-family: Verdana, sans-serif;">Aktivni pacijent: </strong>
                                <input
                                    type="text"
                                    formControlName="imePrezime"
                                    style="border:0;width:60%;height:30px;
                                    font-family: Verdana, sans-serif;"
                                    readonly>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <strong style="font-family: Verdana, sans-serif;">Pregled obavljen: </strong>
                                <input
                                    type="text"
                                    formControlName="datumPregled"
                                    style="border:0;width:60%;height:30px;
                                    font-family: Verdana, sans-serif;"
                                    readonly>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                              <strong style="font-family: Verdana, sans-serif;">Ukupni iznos pregleda: </strong>
                              <input
                                  type="text"
                                  formControlName="ukupnaCijenaPregled"
                                  style="border:0;width:50%;height:30px;
                                  font-family: Verdana, sans-serif;"
                                  readonly>
                            </td>
                        </tr>
                        <tr *ngIf="isDodanBMI">
                            <td colspan="3">
                              <strong style="font-family: Verdana, sans-serif;">BMI: </strong>
                              <input
                                  type="text"
                                  formControlName="bmi"
                                  style="border:0;width:60%;height:30px;
                                  font-family: Verdana, sans-serif;"
                                  readonly>
                            </td>
                        </tr>
                        <tr *ngIf="!isOpciPodatci && !isPovijestBolesti">
                            <td colspan="3">
                                <h4><strong style="font-family: Verdana, sans-serif;color:#a94442;">Pacijent nema evidentiranih podataka na pregledu!</strong></h4>
                            </td>
                        </tr>
                        <ng-container *ngIf="podatciDetaljaPregleda.tip === 'sestra' && isOpciPodatci">
                            <tr>
                                <td colspan="3">
                                    <h4><strong style="font-family: Verdana, sans-serif;">Opći podatci pregleda</strong></h4>
                                </td>
                            </tr>
                            <tr *ngIf="!isOpciPodatci">
                                <td colspan="3">
                                    <strong style="font-family: Verdana, sans-serif;color:#a94442;">Nema primarnih dijagnoza!</strong>
                                </td>
                            </tr>
                            <ng-container formArrayName="opciPodatci" *ngFor="let control of getControlsOpciPodatci();let i = index">
                                <ng-container [formGroupName]="i">
                                    <tr [ngClass]="(i === 0) ? 'border_top' : ''">
                                       <td colspan="3">
                                            <input
                                                style="font-family: Verdana, sans-serif;
                                                    color:#337ab7;font-weight: bold;
                                                    border:0;width:200px;height:35px;
                                                    float:left;"
                                                formControlName="vrijemePregled"
                                                readonly>
                                            <input
                                                *ngIf="control.value.mboAktivniPacijent !== control.value.pacijent.mboPacijent"
                                                style="font-family: Verdana, sans-serif;
                                                    color:#337ab7;font-weight: bold;
                                                    border:0;width:500px;height:35px;"
                                                formControlName="pacijentTemplate"
                                                readonly>
                                       </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <strong style="font-family: Verdana, sans-serif;">Način plaćanja: </strong>
                                            <input
                                                type="text"
                                                formControlName="nacinPlacanja"
                                                style="border:0;width:60%;height:30px;
                                                font-family: Verdana, sans-serif;"
                                                readonly>
                                        </td>
                                    </tr>
                                    <tr class="border_bottom">
                                        <td>
                                            <strong style="font-family: Verdana, sans-serif;">Primarna dijagnoza: </strong>
                                            <textarea
                                                type="text"
                                                rows="2"
                                                formControlName="primarnaDijagnoza"
                                                style="border:0;width:100%;
                                                font-family: Verdana, sans-serif;"
                                                readonly></textarea>
                                        </td>
                                        <td *ngIf="control.value.sekundarneDijagnoze">
                                            <strong style="font-family: Verdana, sans-serif;">Sekundarne dijagnoze: </strong>
                                            <textarea
                                                type="text"
                                                readonly
                                                formControlName="sekundarneDijagnoze"
                                                rows="4"
                                                style="width:60%;margin-left:200px;margin-top:-20px;overflow-x:hidden"></textarea>
                                        </td>
                                        <td *ngIf="!control.value.sekundarneDijagnoze">
                                            <strong style="font-family: Verdana, sans-serif;color:#a94442;margin-left:40px;">Nema sekundarnih dijagnoza!</strong>
                                            <input
                                                type="text"
                                                readonly
                                                style="border:0;width:40%;margin-left:270px;">
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="podatciDetaljaPregleda.tip === 'lijecnik' && isPovijestBolesti">
                            <tr>
                                <td colspan="3">
                                    <h4>
                                        <strong style="font-family: Verdana, sans-serif;">Povijest bolesti</strong></h4>
                                </td>
                            </tr>
                            <tr *ngIf="!isPovijestBolesti">
                                <td colspan="3">
                                    <strong style="font-family: Verdana, sans-serif;color:#a94442;">Nema evidentiranih povijesti bolesti!</strong>
                                </td>
                            </tr>
                            <ng-container formArrayName="povijestBolesti" *ngFor="let control of getControlsPovijestBolesti();let j = index">
                                <ng-container [formGroupName]="j">
                                    <tr [ngClass]="(j === 0) ? 'border_top' : ''">
                                        <td
                                            colspan="3">
                                            <input
                                                style="font-family: Verdana, sans-serif;
                                                    color:#337ab7;font-weight: bold;
                                                    border:0;width:200px;height:35px;float:left;"
                                                formControlName="vrijeme"
                                                readonly>
                                            <input
                                                *ngIf="control.value.mboAktivniPacijent !== control.value.pacijent.mboPacijent"
                                                style="font-family: Verdana, sans-serif;
                                                    color:#337ab7;font-weight: bold;
                                                    border:0;width:300px;height:35px;"
                                                formControlName="pacijentTemplate"
                                                readonly>
                                            <button
                                                type="button"
                                                class="btn btn-warning btn-sm"
                                                style="float:right;"
                                                *ngIf="control.value.recept.proizvod"
                                                (click)="onIzdaniRecept(control.value.recept)">Izdani recept</button>
                                            <button
                                                *ngIf="control.value.uputnica.zdravstvenaDjelatnost"
                                                type="button"
                                                class="btn btn-success btn-sm"
                                                style="float:right;"
                                                [ngStyle]="{'margin-right': control.value.recept.proizvod ? '5px' : '0px'}"
                                                (click)="onIzdanaUputnica(control.value.uputnica)">Izdana uputnica</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong style="font-family: Verdana, sans-serif;">Primarna dijagnoza: </strong>
                                            <textarea
                                                type="text"
                                                rows="2"
                                                formControlName="primarnaDijagnoza"
                                                style="border:0;width:100%;
                                                font-family: Verdana, sans-serif;"
                                                readonly></textarea>
                                        </td>
                                        <td>
                                            <strong
                                                style="font-family: Verdana, sans-serif;"
                                                *ngIf="control.value.sekundarneDijagnoze">Sekundarne dijagnoze: </strong>
                                            <textarea
                                                *ngIf="control.value.sekundarneDijagnoze"
                                                type="text"
                                                readonly
                                                formControlName="sekundarneDijagnoze"
                                                rows="4"
                                                style="width:60%;margin-left:200px;margin-top:-20px;"></textarea>
                                            <strong
                                                style="font-family: Verdana, sans-serif;color:#a94442;"
                                                *ngIf="!control.value.sekundarneDijagnoze">Nema sekundarnih dijagnoza!</strong>
                                            <input
                                                *ngIf="!control.value.sekundarneDijagnoze"
                                                type="text"
                                                readonly
                                                style="border:0;width:40%;margin-left:270px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <p style="font-family: Verdana, sans-serif;"><strong>Razlog dolaska: </strong></p>
                                            <textarea
                                                formControlName="razlogDolaska"
                                                readonly
                                                rows="3"
                                                style="width:100%;"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="border_bottom">
                                        <td colspan="3">
                                            <p style="font-family: Verdana, sans-serif;"><strong>Anamneza: </strong></p>
                                            <textarea
                                                formControlName="anamneza"
                                                readonly
                                                rows="3"
                                                style="width:100%;"></textarea>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="alert-box-actions">
        <button
            class="btn btn-primary"
            (click)="onClose()"
            style="right:10px;position: relative;">Izađi</button>
    </div>
</div>
