<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button 
        class="navbar-toggler ml-auto"
        data-toggle="collapse"
        data-target="#collapse_target1">
        <span 
            class="navbar-toggler-icon"></span>
    </button>
    <div 
        class="collapse navbar-collapse" 
        id="collapse_target1">
        <ul class="nav navbar-nav">
            <li 
                routerLinkActive="active" 
                *ngIf="isMedSestra">
                <a  
                    style="cursor: pointer;font-family:Verdana, sans-serif" 
                    routerLink="/med-sestra/obrada/opciPodatci">
                    Opći podatci pregleda</a>
            </li>
            <li 
                routerLinkActive="active" 
                *ngIf="isLijecnik">
                <a  
                    style="cursor: pointer;font-family:Verdana, sans-serif" 
                    routerLink="/lijecnik/obrada/povijestBolesti">
                    Povijest bolesti</a>
            </li>
            <li 
                routerLinkActive="active" 
                class="dropdown">
                <a 
                    style="cursor: pointer;font-family:Verdana, sans-serif" 
                    class="dropdown-toggle"
                    role="button" 
                    id="navbarDropdown" 
                    data-toggle="dropdown">Osobni podatci</a>
                <ul 
                    class="dropdown-menu" 
                    aria-labelledby="navbarDropdown">
                    <li>
                        <a 
                            style="cursor: pointer;font-family:Verdana, sans-serif" 
                            routerLink="{{isLijecnik ? '/lijecnik/obrada/osnovniPodatci' : '/med-sestra/obrada/osnovniPodatci'}}">Osnovni podatci</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li><a 
                            style="cursor: pointer;font-family:Verdana, sans-serif" 
                            routerLink="{{isLijecnik ? '/lijecnik/obrada/zdravstveniPodatci' : '/med-sestra/obrada/zdravstveniPodatci'}}">Zdravstveni podatci</a>
                    </li>
                </ul>
            </li>
            <li 
                routerLinkActive="active">
                <a  
                    style="cursor: pointer;font-family:Verdana, sans-serif" 
                    (click)="preumjeriNaPregled()">
                    Pregledi</a>
            </li>
            <li 
                routerLinkActive="active">
                <a  
                    style="cursor: pointer;font-family:Verdana, sans-serif" 
                    *ngIf="isLijecnik" 
                    routerLink="/lijecnik/obrada/nalazi">
                    Nalazi</a>
            </li>
        </ul>
    </div>
</nav>