<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h3>Ažuriraj osobne podatke</h3>
            <p>
                Datum registracije profila: <strong>{{osobniPodatci.datKreir}}</strong>
            </p>
            <form [formGroup]="forma" (ngSubmit)="onSubmit()" *ngIf="forma">
                <div class="form-group">
                    <label
                        for="ime">Ime</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="ime">
                </div>
                <div class="form-group">
                    <label
                        for="prezime">Prezime</label>
                    <input
                        type="text"
                        formControlName="prezime"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label
                        for="email">Email</label>
                    <input
                        type="email"
                        formControlName="email"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label
                        for="adresa">Adresa</label>
                    <input
                        type="text"
                        formControlName="adresa"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label
                        for="specijalizacija">Specijalizacija</label>
                    <select
                        formControlName="specijalizacija"
                        class="form-control">
                        <option
                            *ngFor="let specijalizacija of zdrRadnici"
                            value="{{specijalizacija.tipSpecijalist}}">{{specijalizacija.tipSpecijalist}}</option>
                    </select>
                </div>
                <div>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!forma.valid">Ažuriraj</button>
                </div>
            </form>
        </div>
    </div>
</div>
