<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="row">
        <div class="col-xs-12">
          <div
            class="table-responsive-sm"
            *ngIf="!nemaNaplacenihUsluga">
            <table class="table table-striped table-bordered">
                <thead>
                    <th scope="col">BMI</th>
                    <th scope="col">Iznos usluge</th>
                </thead>
                <tbody>
                    <tr *ngFor="let usluga of naplaceneUsluge">
                        <td>{{usluga.bmi}}</td>
                        <td>{{usluga.iznosUsluga}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
          <h4
              *ngIf="nemaNaplacenihUsluga">{{nemaNaplacenihUsluga}}</h4>
        </div>
    </div>
    <div class="alert-box-actions">
        <button class="btn btn-primary" (click)="onClose()">Izađi</button>
    </div>
</div>
