<h4 style="text-align: center;">Trenutno aktivni pacijent: <strong>{{pacijent[0].imePacijent}} {{pacijent[0].prezPacijent}}</strong></h4>
<hr>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a style="cursor: pointer;" [routerLink]="['/lijecnik/pacijent', idPacijent, 'posjete']">Posjete</a>
                </li>
                <li routerLinkActive="active">
                    <a style="cursor: pointer;">Slučajevi</a>
                </li>
                <li routerLinkActive="active">
                    <a style="cursor: pointer;">Recepti</a>
                </li>
                <li routerLinkActive="active">
                    <a style="cursor: pointer;">Bolovanje</a>
                </li>
                <li routerLinkActive="active">
                    <a style="cursor: pointer;">Uputnice</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
