<div class="container">
<div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-2">
            <div *ngIf="isLoading" style="text-align: center;">
                <!--Prikaziva se spinner kada između akcija korisnika te se prikazuje samo ako je varijabla isLoading = true-->
                <app-spinner></app-spinner>
            </div>
            <!--Prikaziva se prozor sa pogreškom ako ima errora-->
            <app-alert *ngIf="response" [message]="responsePoruka" (close)="onClose()"></app-alert>
            <!--Prikaziva se prozor za brisanje ako je korisnik kliknuo button "Koš za smeće"-->
            <app-brisanje-pacijenta-alert *ngIf="isBrisanje" [message]="brisanjePoruka" (close)="onCloseBrisanje()" (brisanje)="onBrisanje()"></app-brisanje-pacijenta-alert>
            <table>
                <tr>
                    <th>ID </th>
                    <th>Ime </th>
                    <th>Prezime </th>
                    <th>Spol </th>
                    <th>Starost </th>
                    <th>Datum kreiranja </th>
                    <th>MBO </th>
                    <th>Email </th>
                    <th>Akcija</th>
                </tr>
                <tr *ngFor="let pacijent of pacijenti; let i = index;">
                    <td>{{pacijent.idPacijent}}</td>
                    <td>{{pacijent.imePacijent}}</td>
                    <td>{{pacijent.prezPacijent}}</td>
                    <td>{{pacijent.spolPacijent}}</td>
                    <td>{{pacijent.starostPacijent}}</td>
                    <td>{{pacijent.datKreirPacijent}}</td>
                    <td>{{pacijent.mboPacijent}}</td>
                    <td>{{pacijent.emailPacijent}}</td>
                    <td><a style="cursor: pointer;" title="Ažuriranje pacijenta" routerLink='../../lijecnik/azurirajPacijenta/{{pacijent.idPacijent}}'><i class="fas fa-edit fa-lg"></i></a> 
                        || <a style="cursor: pointer;" title="Brisanje pacijenta" (click)="onGetTableData(pacijent.idPacijent,i,pacijent.mboPacijent,pacijent.imePacijent,pacijent.prezPacijent)"><i class="fas fa-trash-alt fa-lg"></i></a>
                        || <a style="cursor: pointer;" title="Dodaj novu posjetu" (click)="onNavigatePacijent(pacijent.idPacijent)"><i class="fas fa-user-injured fa-lg"></i></a></td> 
                </tr> 
            </table>
        </div>
    </div> 
</div>
