<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <form
            (ngSubmit)="onSubmit()"
            [formGroup]="forma"
            *ngIf="forma">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <label
                                    for="ime">Ime</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="ime"
                                    placeholder="Unesite ime...">
                                <mat-error
                                    *ngIf="(ime.touched || ime.dirty) && !ime.valid"
                                    class="error_ime">
                                    <mat-error *ngIf="ime.errors['required']">Ovo polje je obvezno za unos!</mat-error>
                                    <mat-error *ngIf="ime.errors?.neispravanZnak">Samo slova su dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                            <td>
                                <label
                                    for="mobitel">Mobitel</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="mobitel"
                                    placeholder="Unesite broj mobitela (+385...)">
                                <mat-error
                                    *ngIf="(mobitel.touched || mobitel.dirty) && !mobitel.valid">
                                    <mat-error
                                        *ngIf="mobitel.errors?.pattern">Neispravan format broja mobitela!</mat-error>
                                </mat-error>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="prezime">Prezime</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="prezime"
                                    placeholder="Unesite prezime...">
                                <mat-error
                                    *ngIf="(prezime.touched || prezime.dirty) && !prezime.valid"
                                    class="error_prezime">
                                    <mat-error *ngIf="prezime.errors['required']">Ovo polje je obvezno za unos!</mat-error>
                                    <mat-error *ngIf="prezime.errors?.neispravanZnak">Samo slova su dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                            <td>
                                <label
                                    for="bracnoStanje">Bračno stanje</label>
                                <select
                                    type="text"
                                    class="form-control"
                                    formControlName="bracnoStanje">
                                    <option [disabled]="true" [ngValue]="null">Odaberite bračno stanje</option>
                                    <option *ngFor="let stanje of bracnaStanja" value="{{stanje.nazivBracnoStanje}}">{{stanje.nazivBracnoStanje}}</option>
                                </select>
                                <mat-error
                                    *ngIf="(bracnoStanje.touched || bracnoStanje.dirty) && !bracnoStanje.valid"
                                    class="error_bracno_stanje">
                                    <mat-error *ngIf="bracnoStanje.errors['bracnaStanjaIsForbidden']">Ova vrijednost nije dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="datRod">Datum rođenja</label>
                                <input
                                    type="date"
                                    class="form-control"
                                    formControlName="datRod">
                                <mat-error
                                    *ngIf="(datRod.touched || datRod.dirty) && !datRod.valid"
                                    class="error_dat_rod">
                                    <mat-error *ngIf="datRod.errors['pattern']">Morate unijeti ispravan format datuma!</mat-error>
                                    <mat-error *ngIf="datRod.errors['required']">Ovo polje je obvezno za unos!</mat-error>
                                </mat-error>
                            </td>
                            <td>
                                <label
                                    for="radniStatus">Radni status</label>
                                <select
                                    type="text"
                                    class="form-control"
                                    formControlName="radniStatus">
                                    <option [disabled]="true" [ngValue]="null">Odaberite radni status</option>
                                    <option *ngFor="let status of radniStatusi" value="{{status.nazivRadniStatus}}">{{status.nazivRadniStatus}}</option>
                                </select>
                                <mat-error
                                    *ngIf="(radniStatus.touched || radniStatus.dirty) && !radniStatus.valid"
                                    class="error_radni_status">
                                    <mat-error *ngIf="radniStatus.errors['radniStatusIsForbidden']">Ova vrijednost nije dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="adresa">Adresa</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="adresa"
                                    placeholder="Unesite adresu...">
                                <mat-error
                                    *ngIf="(adresa.touched || adresa.dirty) && !adresa.valid"
                                    class="error_adresa">
                                    <mat-error *ngIf="adresa.errors['required']">Ovo polje je obvezno za unos!</mat-error>
                                </mat-error>
                            </td>
                            <td>
                                <label
                                    for="status">Status pacijenta</label>
                                <select
                                    type="text"
                                    class="form-control"
                                    formControlName="status">
                                    <option [disabled]="true" [ngValue]="null">Odaberite status pacijenta</option>
                                    <option *ngFor="let status of statusiPacijenta" value="{{status.nazivStatusPacijent}}">{{status.nazivStatusPacijent}}</option>
                                </select>
                                <mat-error
                                    *ngIf="(status.touched || status.dirty) && !status.valid"
                                    class="error_status">
                                    <mat-error *ngIf="status.errors['required']">Ovo polje je obvezno za unos!</mat-error>
                                    <mat-error *ngIf="status.errors['statusPacijentIsForbidden']">Ova vrijednost nije dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="pbr">Poštanski broj</label>
                                <input
                                    type="text"
                                    class="form-control input_pbr"
                                    formControlName="pbr"
                                    placeholder="Unesite poštanski broj...">
                                <mat-error
                                    *ngIf="(pbr.touched || pbr.dirty) && !pbr.valid"
                                    class="error_pbr">
                                    <mat-error *ngIf="pbr.errors['pbrIsForbidden'] && !pbr.errors['required']">Unesena vrijednost nije dozvoljena!</mat-error>
                                    <mat-error *ngIf="pbr.errors['required']">Ovo polje je obvezno za unos!</mat-error>
                                </mat-error>
                            </td>
                            <td>
                                <label
                                    for="oib">OIB</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="oib"
                                    placeholder="Unesite OIB...">
                                <mat-error
                                    *ngIf="(oib.touched || oib.dirty) && !oib.valid"
                                    class="error_oib">
                                    <mat-error *ngIf="oib.errors['pattern']">Morate unijeti ispravan format OIB-a!</mat-error>
                                    <mat-error *ngIf="oib.errors['required']">Ovo polje je obvezno za unos!</mat-error>
                                </mat-error>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="mjesto">Mjesto</label>
                                <select
                                    type="text"
                                    class="form-control"
                                    formControlName="mjesto">
                                    <option [disabled]="true" [ngValue]="null">Odaberite mjesto stanovanja</option>
                                    <option *ngFor="let mjesto of mjesta" value="{{mjesto.nazivMjesto}}">{{mjesto.nazivMjesto}}</option>
                                </select>
                                <mat-error *ngIf="forma.errors?.krivaKombinacija">Kriva kombinacija poštanskog broja i naziva mjesta!</mat-error>
                                <mat-error
                                    *ngIf="(mjesto.touched || mjesto.dirty) && !mjesto.valid"
                                    class="error_mjesto">
                                    <mat-error *ngIf="mjesto.errors['mjestaIsForbidden']">Ova vrijednost nije dozvoljena!</mat-error>
                                </mat-error>
                            </td>
                            <td>
                                <label
                                    for="email">Email</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    formControlName="email"
                                    placeholder="Unesite email...">
                                <mat-error
                                    *ngIf="(email.touched || email.dirty) && !email.valid"
                                    class="error_email">
                                    <mat-error *ngIf="email.errors['email']">Morate unijeti ispravan format email-a!</mat-error>
                                    <mat-error *ngIf="email.errors['required']">Ovo polje je obvezno za unos!</mat-error>
                                </mat-error>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    for="spol">Spol</label><br>
                                <label>
                                    <input
                                        type="radio"
                                        value="male"
                                        formControlName="spol">Muško
                                    <input
                                        type="radio"
                                        value="female"
                                        formControlName="spol">Žensko
                                </label>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <button
                                type="submit"
                                class="btn btn-primary"
                                [disabled]="!forma.valid">Potvrdi podatke pacijenta</button>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
