<div class="row">
    <div class="col-xs-12">
        <form #forma="ngForm" (ngSubmit)="onSubmit(forma)">
            <input
                type="text" 
                class="form-control"
                name="pretraziPosjet"
                ngModel
                required
                placeholder="Pretražite posjet..."
                style="width:300px;">
                <input 
                    type="image" 
                    src="../../../../assets/images/search.png" 
                    width="20px" 
                    height="20px" 
                    class="search-icon"
                    alt="Submit">
        </form>
    </div>
</div>
<hr>
<!-- <div class="row">
    <div class="col-xs-12">
        <app-recipe-item 
        *ngFor="let recipeEl of recipes; let i = index" 
        [recipe]="recipeEl" 
        [index]="i"></app-recipe-item>
    </div>
</div> -->
