<div class="container">
    <div class="row">
        <!--Prikaziva se prozor za kreiranje/ažuriranje/otkazivanje narudžbe-->
        <app-narudzba
            *ngIf="isNarudzba"
            (close)="onCloseNarudzba()"
            (azuriranje)="onAzuriranjeNarudzba()"
            (narucivanje)="onNarucivanjePacijenta()"
            (otkazivanje)="onOtkazivanjeNarudzba()"
            (zatvaranje)="onCloseNarudzba()"></app-narudzba>
        <div class="col-xs-12 col-md-12">
            <form
                [formGroup]="forma"
                *ngIf="forma">
                <div class="form-group">
                    <label
                        for="datum"
                        style="font-family: Verdana, sans-serif;margin-top:5px;">Datum</label>
                    <input
                        type="date"
                        class="form-control"
                        formControlName="datum"
                        style="width:270px;"
                        placeholder="Unesite datum početka naručivanja...">
                    <mat-error
                        *ngIf="datum.errors?.pattern">Neispravan format datuma!</mat-error>
                </div>
            </form>
            <div class="main-div__categories">
                <h5 class="h5_kontrolni">Kontrolni pregled</h5>
                <div class="div_kontrolni"></div>
                <h5 class="h5_ostali">Preventivni pregled</h5>
                <div class="div_preventivni"></div>
                <h5 class="h5_ostali">Cijepljenje</h5>
                <div class="div_cijepljenje"></div>
                <h5 class="h5_ostali">Kirurški zahvat</h5>
                <div class="div_kirurski"></div>
                <h5 class="h5_ostali">Ostalo</h5>
                <div class="div_ostalo"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="table-responsive-sm">
                <form
                    [formGroup]="formaTablica"
                    *ngIf="formaTablica">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th
                                    formArrayName="datumiNaziviDana"
                                    *ngFor="let ctrl of getControlsDatumINazivDana(); let i = index">
                                    <input
                                        type="text"
                                        [formControlName]="i"
                                        [value]="ctrl.value"
                                        readonly
                                        style="border: 0;text-align: center;">
                                </th>
                            </tr>
                        </thead>
                        <tbody formArrayName="tbody">
                            <tr *ngFor="let ctrl of getControlsTbody();let t = index" [formGroupName]="t">
                                <td>
                                    <input
                                        type="text"
                                        formControlName="vrijeme"
                                        readonly
                                        style="border: 0;text-align: center;font-weight: bold;">
                                </td>
                                <td (click)="onCellClick(ctrl.value.ponedjeljak.idNarudzba,ctrl.value.ponedjeljak.vrijeme,ctrl.value.ponedjeljak.danUTjednu)"
                                    style="cursor: pointer;"
                                    formGroupName="ponedjeljak"
                                    [ngStyle]="{'background-color':ctrl.value.ponedjeljak.bojaPregled}">
                                    <textarea
                                        type="text"
                                        formControlName="imePrezimeMBO"
                                        readonly
                                        style="border: 0;text-align: center;"
                                        [ngStyle]="{'background-color':ctrl.value.ponedjeljak.bojaPregled}"></textarea>
                                </td>
                                <td (click)="onCellClick(ctrl.value.utorak.idNarudzba,ctrl.value.utorak.vrijeme,ctrl.value.utorak.danUTjednu)"
                                    style="cursor: pointer;"
                                    formGroupName="utorak"
                                    [ngStyle]="{'background-color':ctrl.value.utorak.bojaPregled}">
                                    <textarea
                                        type="text"
                                        formControlName="imePrezimeMBO"
                                        readonly
                                        style="border: 0;text-align: center;"
                                        [ngStyle]="{'background-color':ctrl.value.utorak.bojaPregled}"></textarea>
                                </td>
                                <td (click)="onCellClick(ctrl.value.srijeda.idNarudzba,ctrl.value.srijeda.vrijeme,ctrl.value.srijeda.danUTjednu)"
                                    style="cursor: pointer;"
                                    formGroupName="srijeda"
                                    [ngStyle]="{'background-color':ctrl.value.srijeda.bojaPregled}">
                                    <textarea
                                        type="text"
                                        formControlName="imePrezimeMBO"
                                        readonly
                                        style="border: 0;text-align: center;"
                                        [ngStyle]="{'background-color':ctrl.value.srijeda.bojaPregled}"></textarea>
                                </td>
                                <td (click)="onCellClick(ctrl.value.cetvrtak.idNarudzba,ctrl.value.cetvrtak.vrijeme,ctrl.value.cetvrtak.danUTjednu)"
                                    style="cursor: pointer;"
                                    formGroupName="cetvrtak"
                                    [ngStyle]="{'background-color':ctrl.value.cetvrtak.bojaPregled}">
                                    <textarea
                                        type="text"
                                        formControlName="imePrezimeMBO"
                                        readonly
                                        style="border: 0;text-align: center;"
                                        [ngStyle]="{'background-color':ctrl.value.cetvrtak.bojaPregled}"></textarea>
                                </td>
                                <td (click)="onCellClick(ctrl.value.petak.idNarudzba,ctrl.value.petak.vrijeme,ctrl.value.petak.danUTjednu)"
                                    style="cursor: pointer;"
                                    formGroupName="petak"
                                    [ngStyle]="{'background-color':ctrl.value.petak.bojaPregled}">
                                    <textarea
                                        type="text"
                                        formControlName="imePrezimeMBO"
                                        readonly
                                        style="border: 0;text-align: center;"
                                        [ngStyle]="{'background-color':ctrl.value.petak.bojaPregled}"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
