<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3 style="margin-top:-10px;">Dodaj novi posjet</h3>
            <hr>
            <div>
                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            </div>
            <app-alert *ngIf="response" [message]="responsePoruka" (close)="onClose()"></app-alert>
            <form (ngSubmit)="onSubmit()" [formGroup]="forma">
                <div class="form-group">
                    <label for="datum">Datum posjeta pacijenta</label>
                    <input 
                        type="date" 
                        name="datum" 
                        formControlName="datum"
                        class="form-control"
                        placeholder="Unesite datum posjeta...">
                </div>
                <div class="form-group">
                    <label for="razlog">Kratki razlog dolaska pacijenta</label>
                    <textarea 
                        type="text" 
                        name="razlog" 
                        formControlName="razlog"
                        class="form-control"
                        placeholder="Unesite kratki razlog dolaska..."
                        rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="anamneza">Anamneza</label>
                    <textarea 
                        type="text" 
                        name="anamneza" 
                        formControlName="anamneza"
                        class="form-control"
                        placeholder="Unesite anamnezu pacijenta..."
                        rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <textarea 
                        type="text" 
                        name="status" 
                        formControlName="status"
                        class="form-control"
                        placeholder="Unesite status pacijenta..."
                        rows="2"></textarea>
                </div>
                <div class="row" formArrayName="dijagnoza">
                    <label for="dijagnoza" style="margin-left:20px">Dijagnoza</label><br>
                    <div 
                        class="col-xs-12" 
                        *ngFor="let dijagnozaCtrl of getControls(); let i = index"
                        style="margin-top:10px;">
                        <div class="col-xs-10" style="margin-left:-12px;">
                            <select name="dijagnoza" class="form-control" [formControlName]="i">
                                <option *ngFor="let dijagnoza of dijagnoze" value="{{dijagnoza.imeDijagnoza}}">{{dijagnoza.imeDijagnoza}}</option>
                            </select>
                        </div>
                        <!--Ovaj button će se prikazati samo ako imamo više od jednu dijagnozu-->
                        <div class="col-xs-2" *ngIf="i>=1">
                            <button class="btn btn-info" type="button" (click)="onDeleteDiagnosis(i)">X</button>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-xs-12">
                        <button 
                            class="btn btn-info" 
                            (click)="onAddDiagnosis()" 
                            type="button"
                            style="margin-left:5px;">Dodaj dijagnozu</button>  
                    </div>
                </div><hr>
                <div class="form-group">
                    <label for="preporuka">Preporuka liječnika</label>
                    <textarea 
                        type="text" 
                        name="preporuka" 
                        formControlName="preporuka"
                        class="form-control"
                        placeholder="Unesite preporuku liječnika..."
                        rows="2"></textarea>
                </div>
                <div>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        [disabled]="!forma.valid">Dodaj</button>
                </div>
            </form>  
        </div>   
    </div>
</div>
