<div class="row">
    <form #forma="ngForm" (ngSubmit)="onSubmit(forma)">
        <div class="form-row">
            <div class="form-group col-md-2">
                <select class="form-control" name="izbor" [(ngModel)]="selected" #izbor required (change)="onChange(izbor.value)" style="width: 200px;">
                    <option value="sveposjete">Sve posjete</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 col-md-offset-5">
                <input 
                    type="date" 
                    class="form-control"
                    [ngModel]="trenutniDatum | date:'yyyy-MM-dd'"
                    name="pocetniDatum"
                    #pocetniDatum>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <input 
                    type="date" 
                    class="form-control"
                    ngModel
                    name="zavrsniDatum"
                    #zavrsniDatum>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <button 
                    type="submit" 
                    class="btn btn-info"
                    [disabled]="!pocetniDatum.value || !zavrsniDatum.value">Pretraži</button>
            </div>
        </div>
    </form> 
</div>
<hr>
<div class="row">
    <div class="col-md-5">
        <app-posjete-list></app-posjete-list>    
    </div>
    <div class="col-md-7">
        <button type="button" class="btn btn-primary" style="margin-left:10px;" (click)="onAddVisit()">Dodaj novi posjet</button>
        <hr>
        <router-outlet></router-outlet>
    </div>
</div>