<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div *ngIf="isLoading" style="text-align: center;">
            <!--Prikaziva se spinner kada između akcija korisnika te se prikazuje samo ako je varijabla isLoading = true-->
            <app-spinner></app-spinner>
        </div>
        <!--Prikaziva se prozor sa pogreškom ako ima errora-->
        <app-alert *ngIf="response" [message]="responsePoruka" (close)="onClose()"></app-alert>
        <form (ngSubmit)="onSubmit(forma)" #forma="ngForm" *ngIf="!isLoading">
            <button type="button" class="btn btn-info" (click)="onBack()" style="float:right">Natrag</button>
            <h3>Dodaj pacijenta</h3><br>
            <div class="form-group">
                <label for="ime">Ime pacijenta</label>
                <input 
                    type="text" 
                    name="ime" 
                    class="form-control"
                    ngModel
                    #ime="ngModel" 
                    required 
                    placeholder="Unesite ime pacijenta">
                <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                <span class="help-block" *ngIf="!ime.valid && ime.touched">Unos imena pacijenta je obavezan!</span>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime pacijenta</label>
                <input 
                    type="text" 
                    name="prezime" 
                    class="form-control" 
                    ngModel 
                    #prezime="ngModel"
                    required 
                    placeholder="Unesite prezime pacijenta">
                <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                <span class="help-block" *ngIf="!prezime.valid && prezime.touched">Unos prezimena je obavezan!</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    name="email" 
                    class="form-control" 
                    ngModel 
                    #email="ngModel"
                    email 
                    required
                    placeholder="Unesite email pacijenta">
                <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                <span class="help-block" *ngIf="!email.valid && email.touched">Unos email-a je obavezan!</span>
            </div>
            <div class="form-group">
                <label for="spol">Spol pacijenta</label><br>
                <label class="radio-inline">
                    <input 
                        type="radio" 
                        name="spol" 
                        value="male"
                        ngModel
                        #male 
                        required>Muško
                </label>
                <label class="radio-inline">
                <input 
                    type="radio" 
                    name="spol" 
                    value="female"
                    ngModel
                    #female>Žensko
                </label>
            </div>
            <div class="form-group">
                <label for="adresa">Starost pacijenta</label>
                <input 
                    type="number" 
                    name="starost" 
                    class="form-control" 
                    ngModel 
                    #starost="ngModel"
                    required 
                    placeholder="Unesite starost pacijenta"
                    pattern="^(0|[1-9][0-9]*)$">
                <!--Input mora prvo bit dodirnut jer ako nije, ispisiva mi poruku inicijalno!-->
                <span class="help-block" *ngIf="!starost.valid && starost.touched">Unos starosti pacijenta je obavezan!</span>
            </div>
            <div>
                <!--Sve dok podatci u formi nisu ispravno uneseni, button se neće moći stisnuti-->
                <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Dodaj pacijenta</button>
            </div>
        </form>
    </div>
</div>